[2017-06-07 23:12] yiminc commented on #460
you need to use -testify.m to specify your test:
go test -run TestYourTestSuiteMethod -testify.m TestYourIndividualMethod
TestYourTestSuiteMethod is the method where it calls suite.Run(t, new(YourTestSuite))

[2017-06-09 02:32] eginez commented on #460
ahh thanks!

[2017-06-11 06:04] BorisKozo opened #462 "Cannot get "AssertCalled" to work"
I am trying to get "AssertCalled" to work with this minimal example but it simply won't work. I am probably doing something wrong but reading the documentation and the tests code didn't help.

[code]
The error I am getting:
[code]

Also tried

[code]
[code]

But nothing works.
What am I missing here?

[2017-06-11 13:18] domcorvasce commented on #462
Try this instead:

[code]

[2017-06-11 14:06] BorisKozo commented on #462
Thanks, it worked. Though I find it strange that a function originally not returning anything needs a Return() statement.

[2017-06-11 14:06] #462 closed

[2017-06-12 12:55] aflag opened #463 "Create a SharedMock to implement interfaces which copy the objects"
Recently I was trying to mock http.Handler. This is how I tried

    func (h HandlerMock) ServeHTTP(w http.ResponseWriter, r *http.Request) {
        h.Called(w, r)
    }

Then I tried to pass it as a handler to my toplevel handler

    handler := topLevelHandler{
        main: HandlerMock{}
    }

Using that setup does not work because ServeHTTP operates on a copy of HandlerMock, not HandlerMock

[2017-06-12 16:19] aflag commented on #463
I'm sorry. This was just me being newbie to go. I just realised that I could actually pass *HandlerMock where a Handler interface is expected.

[2017-06-12 16:19] #463 closed

[2017-06-13 10:21] skonefal opened #464 "After() should block _after_ the mocked method is called"
Currently the timer in `After(duration)` method is started immediately when mock is defined. This is a problem when user would like to test two mocked methods that are run one after another.

For example in following snippet:
[code]

[Documentation](http://godoc.org/github.com/stretchr/testify/mock#Call.After) specifies, that the **call** will block so that **expected** execution time of `doWaitin

[2017-06-21 08:08] barockok commented on #429
I also experience the same thing. when creating a mock on a method that uses a function as an argument.

[code]
and I got this error.
[code]
look at the output above, I can't find any difference. and based on the implementation it also uses the exact same type (`AnythingOfTypeArgument`). my go version is `go1.8.1 darwin/amd64`.

thanks

[2017-06-21 18:51] yiminc opened #466 "bug in parallel tests"
When enable parallel testing, we would expect the TearDownSuite() to be called after all the tests completed. However, after this commit, https://github.com/stretchr/testify/commit/3104bf5483d3fba84f24933949f0533f4467880b
the parallel testing is broken as the TearDownSuite() is called before tests are done.
Here is a simple repro code to repro:
[code]
The output of above tests is:
[code]

[2017-06-26 10:57] medzin commented on #244
@ernesto-jimenez but using a `t.Run` will also make testify to compile only with Go 1.7+ (currently tests are run for Go versions from 1.4). Are you ok with this?

[2017-06-26 21:26] decibel commented on #429
I think it would be useful to include type information in the output of the Unexpected calls; I've been burned by that in the past.

[2017-07-02 23:37] jaypipes opened #468 "assert.Truef() works fine. require.Truef() results in undefined: require.Truef"
Based on the docs, there should be a `require.Truef()` function (and corresponding `Assertions.Truef()` method, however I'm getting an `undefined: require.Truef` when executing the following (using 1.1.4 release of testify):

[code]

results in:

[code]

when I run a similar test with the `Assertions.Truef()` method, I get a similar failure:

[code]

results in a similar error:

[code]

Again, if

[2017-07-05 01:48] bits01 opened #469 "Empty/NotEmpty return confusing results for custom types with underlying type string"
Consider the following example:
[code]

The `assert.Empty` above fails. While I understand what is going on, it is confusing and very error prone in tests when one uses `assert.NotEmpty` instead.

[2017-07-05 02:18] bits01 commented on #469
Please take a look at PR #470.

reflect.Value.Len() can cover more types, per godoc:

https://golang.org/pkg/reflect/#Value.Len

[2017-07-05 05:36] cskr opened #471 "What is the difference between Equal and Equalf?"
Given `Equalf` essentially invokes `Equal`, why do `*f` even exist as separate functions?

[2017-07-05 05:57] bits01 commented on #471
I was wondering the exact same thing. Maybe some legacy reason?

[2017-07-10 14:21] nanjekyejoannah-zz opened #473 "Provision for Skipping a test"
We have many reasons why we need to skip particular tests. I needed to provide for skipping a test given some condition depending on the environment the tests are running in. Apparently this is not available.

[2017-07-10 19:30] bits01 commented on #473
Sounds like you need to use `testing.T.Skip()` based on your conditions (flags, env vars, ...):
https://godoc.org/testing#T.Skip

[2017-07-11 10:56] nanjekyejoannah commented on #473
You see am using testify/suite for the [tests](https://github.com/nanjekyejoannah/go_s3tests/blob/master/s3tests/bucket_test.go#L10) am writing and my tests look like this. I decide to use suite in order to manage my teardowns and setup in a clean way.
[code]
If am to use testing.T.Skip. This will become
[code]
As you can see I have to remove the test I want to skip from the suite. I tried to use

[2017-07-11 12:30] tbruyelle opened #474 "assert.Fail signature"
I don't get why the signature of `assert.Fail` requires a mandatory string, and I think it's misleading.

I had a panic because of that, I used the method like that :

[code]

The panic occurs because 42 is type asserted to `string` (see https://github.com/stretchr/testify/blob/master/assert/assertions.go#L178)

So currently the correct way to use this method is :

[code]

But I don't see the bene

[2017-07-11 15:11] bits01 commented on #473
Have you looked at using standard lib subtests instead?
https://blog.golang.org/subtests

[2017-07-11 15:35] nanjekyejoannah commented on #473
Well the idea of sub tests is a good one however it does not solve my problem.

 There is no need for anyone running the test suite to decide what tests to execute. I want the tests themselves to skip some tests depending on the environment in which they are running. The person running the tests should just do `go test -v` . For example in my case I want some tests to skip when there is no SSL con

[2017-07-11 15:55] bits01 commented on #473
Subtests can skip based on their own conditions. They are just normal tests, you just group them together so you can do the pre setup and post teardown.

[2017-07-17 07:29] thaJeztah commented on #466
relates to https://github.com/stretchr/testify/pull/389, https://github.com/stretchr/testify/issues/346

/cc @bayesianmind @ernesto-jimenez PTAL

[2017-07-19 07:24] akalin opened #480 "Panic in assert/require.Equal when calling into go-spew"
Minimal test case:

[code]

[2017-07-22 10:03] nanjekyejoannah commented on #473
This person had the same thing in mind while reporting this [issue](https://github.com/Yelp/Testify/issues/11). check out this thread.

[2017-07-23 19:15] chemidy commented on #480
Hello @akalin .

This is not a testify bug.

In go lower case fields (labels in general) are not visible outside the defining package, reflect is outside.

So you have to upper your f variable to "F"

[2017-07-24 17:00] akalin commented on #480
go-spew, which testify uses, explicitly handles unexported fields; see https://github.com/davecgh/go-spew. So you're probably right in that the bug doesn't lie with testify directly. Perhaps it needs to revendor go-spew to a new version, or perhaps the bug is still in go-spew's tip.

In any case, testify panicking definitely seems like a bug to me, especially if `assert` is used instead of `requir

[2017-07-26 18:26] timkgh opened #482 "Project still maintained?"
There are a bunch of open issues and open PRs. Do they get looked at/merged on a regular basis?
Trying to decide if it's wise to rely on testify for new projects or it's become abandonware in favor of other frameworks and if so which.

[2017-07-28 01:14] losinggeneration commented on #482
I can't speak for the maintainers. However, the commit log indicates it's still maintained.

[2017-08-02 16:49] nyarly opened #483 "Add spies package"
For my own projects, I've started to sketch out a spies package that builds on testify. It would be convenient for me if this were part of testify, and I think it would be useful for others. Would that be a welcome addition?

[2017-08-02 17:24] asf-stripe opened #484 "assert.Equal values printed as if they were format strings"
Running this test code:

[code]

I get the following output:

[code]

I would expect the value to be printed literally, not as a Printf-like format strings with missing args.

[2017-08-02 18:06] ikdc-stripe commented on #484
Looks like a duplicate of #325 which was fixed by 09f61d78b810439bdcfe332561533990811b1b92.

[2017-08-02 18:07] asf-stripe commented on #484
Yep, turns out this was solved and my gopath seems to have gotten messed up. Closing.

[2017-08-02 18:07] #484 closed

[2017-08-09 09:15] lhemala commented on #482
The last release (v1.1.4) was cut on 25 Sep 2016 which is little annoying when you want to use `dep` with SemVer (and not simply pulling master) since a lot fixes were merged later later so yeah...
(For me it's https://github.com/stretchr/testify/issues/393)

So maybe if a maintainer stumbles across this:
Cutting a new realase after nearly a year seems like a good idea ;)

[2017-08-09 23:14] bits01 commented on #469
PR #470 merged. Thank you.

[2017-08-09 23:14] #469 closed

[2017-08-17 19:06] KernelDeimos opened #489 "Should mock really panic instead of t.Fail?"
I'm not sure which is best overall, but I'd like to share my experience just to bring this into consideration.

I was testing a component of my software which will recover whenever a panic occurs, so having an unexpected method call panic broke the logic of my test.

If mock was passed the testing.T object and called t.Fail instead of panic, my test would work fine. That said, I can also imagine c

[2017-08-17 19:31] KernelDeimos commented on #489
Uh, on second thought t.Fail also panics. I forgot about that.

[2017-08-23 20:40] emou commented on #471
It's a fix for `go vet`. See #339

[2017-08-24 03:44] cskr commented on #471
@emou In that case Equal must also behave like `fmt.Print`, not like `fmt.Printf`.

[2017-08-30 23:30] xavi- opened #494 "Tagged Release?"
The last tagged release was back in Sept 2016, but there seems to have been a number of commits since then.  Any chance releases could be given semver friendly tags?

I ran into this issue when I ran `glide up` to get the latest and greatest, but ended up with a version that's nearly a year old.

[2017-09-01 09:11] koolay commented on #415
`Times(number)` is more nice over `AssertNumberOfCalls`.  And what is usage of `Times`  ?

[2017-09-02 18:12] yurishkuro commented on #494
+1

[2017-09-03 14:00] alex-ant opened #496 "Optionally ignore slice order when comparing"
`require.Equal` fails a test when comparing two slices containing the same set of items in a different order.

How about implementing something like `require.EqualSlices` function comparing the sets, but ignoring the order?

[2017-09-04 13:12] markuswustenberg opened #497 "Feature request: ErrorContains"
I'm using this pattern a lot:

[code]

Although `require.ErrorEqual` is pretty useful at times, often I only want to match on part of the error message (maybe because some of it is dynamic for each test run or in different test environments).

Proposal: Add `require.ErrorContains()`

[2017-09-04 13:13] markuswustenberg commented on #497
I'd be happy to implement this myself if it sounds useful.

[2017-09-04 17:22] lukescott opened #498 "ObjectsAreEqual: chan vs <-chan"
ObjectsAreEqual sees chan and <-chan of the same channel as not equal.
[code]
This may be intended as ObjectsAreEqualValues works. In my particular case I was using assert.Contains, which uses ObjectsAreEqual internally.

Perhaps you could have a `assert.ContainsFunc(t, slice, value, assert.ObjectsAreEqualValues, msg)` version where you can choose the comparison function.

[2017-09-08 10:00] sivachandran commented on #350
@alexandrevicenzi @ernesto-jimenez I am trying to mock a file system like object on which I want to return some data on first call and return EOF on second call. Now to achieve this I have to write custom function in the mock object to track the no. of function calls which is already done by `mock`. If `mock` provides a way to call custom function passing all the information it has collected then

[2017-09-08 22:45] ahmetb opened #499 "diff for Equal failures are not showing per-field diffs"
I just got a failure from assert.Equal with **pointers to a complicated struct**, however the diff is not showing per-field differences as it used to do (if I recall correctly), instead, it just prints the whole struct on a single line and therefore the diff is impossible to figure out the difference:

https://gist.github.com/ahmetb/8531fc15b785a7975bf1c5cdb6fb639b

[2017-09-13 13:04] clebs opened #502 "require.Equal: Comparing time.Time after marshalling and unmarshalling is not correct"
When testing sending data that contains a `time.Time` via JSON the sent data and received data are not equal according to `require.Equal`.

Sample unit test:
[code]

Equal diff output:
[code]

A possible solution would be having a special comparison for `time.Time` fields using for example Unix timestamps.

[2017-09-13 14:38] anacrolix opened #503 "Nil is handled poorly"
assert.Nil passes on a value of `(*int)(nil)`, I believe the function digs too deep on the value. It seems that `assert.Nil` should do the equivalent of `value == nil`, but instead the decision is deferred to `reflect.Value.IsNil`.

https://github.com/anacrolix/wat/blob/master/nil_test.go#L16 is an example of the unexpected behaviour.

[2017-09-13 14:40] anacrolix commented on #503
Here's an example of where I wasn't able to use assert.Nil because it gave unexpected behaviour: https://github.com/anacrolix/torrent/blob/master/utp_test.go#L12

[2017-09-15 23:29] yiminc commented on #494
+1

[2017-09-15 23:32] yiminc commented on #494
Our project https://github.com/uber-go/cadence-client depends on some of the new features added since last release tag. Now we have to pin to a hash version to make our code work. However, when our users needs to use our code, they run in to this issue and for every one of them, we have to told them to pin to that hash version. We need a new release!

[2017-09-19 01:03] decibel opened #504 "AssertExpectations re-evaluates MatchedBy() functions"
It appears that AssertExpectations always re-executes every MatchedBy() function. That's a problem if the matcher isn't re-entrant. It's not hard to work around (see below), but it would be nice if the function was never evaluated a second time.

My fix:

[code]

[2017-09-20 22:21] markcampanelli-wf opened #505 "require.Equals can hang when types are different"
We have seen an issue (apparently new to testify 69483b4bd14f5845b5a1e55bca19e954e827f1d0) where a require.Equal() call does not return when comparing two ints with different types (like int and int64).

[2017-09-21 09:26] kdomanski commented on #505
Can you provide some test cases to reproduce?

[2017-09-22 01:39] decibel opened #507 "AssertExpectations should tell you what mock failed an assertion"
If you use `mock.AssertExpectationsForObjects()` to test multiple mocks and one of them fails an assertion, you have no idea which mock actually failed.

Another issue is that you also have no idea what assertions failed.

[2017-09-22 21:42] shhsu opened #508 "Allow a method call to be optional"
Sometimes when we are testing a large and complex method, some of its dependencies on a utility level might or might not be called depends on whether the dependee has encountered an error and bails out early.

I added a Maybe() method on the Call struct so we mark a method call optional so when AssertExpectations is called it wouldn't trigger an error when we really don't care if these methods are

[2017-09-28 11:33] zbindenren commented on #502
Same issue here.

[2017-10-03 15:16] reidrac commented on #460
That didn't work for me (also the docs mention -m and not -testify.m; but never mind).

Looks like the testify flag is being ignored.

[2017-10-03 15:27] reidrac commented on #482
The domain name of the org maintaining this repo is on sale, anyone knows what happened to Stretchr, Inc?

Some communication and/or a new release would be very appreciated!

[2017-10-04 12:08] rikvdh commented on #407
Sorry for bumping this, but doesn't the `InDelta` does what you want?

https://godoc.org/github.com/stretchr/testify/assert#InDelta

[2017-10-04 12:27] the20login commented on #407
Yeah, it does exactly what i want.
Looks like I didn't notice it then.

[2017-10-04 12:27] #407 closed

[2017-10-05 08:33] reidrac commented on #460
Just for the record: it works, but the order of the flags is relevant.

It did work for me like this:
[code]

If I don't specify the package, go test won't find any package when the -testify.m flag is processed.

[2017-10-06 22:18] peterhuene commented on #350
In addition to the above reasons, I'd like to see this feature added so that I can mock an API returning a `Reader` that is expected to be invoked multiple times:

[code]

The problem here is that the `Reader` works just fine for the first invocation, but the second invocation is given the same `Reader` which is now at end-of-input.  If there were a way to return a new `Reader` upon each invocatio

[2017-10-17 01:06] varunrau opened #512 "Gogland testing UI doesn't work with suite tests"
![image](https://user-images.githubusercontent.com/1448222/31641889-98e88282-b29c-11e7-9720-a1babf45e3f6.png)

It'd be great to be able to run/debug tests using the Gogland test runner. Currently the only way to do it is to run the whole suite.

[2017-10-18 00:19] varunrau commented on #187
is it still the case that suite tests can't be run in parallel?

[2017-10-19 16:22] icholy commented on #474
Changing it would be a non-compatible API change, so I think that's out of the question. I just want to know why you're calling it directly?

[2017-10-21 00:35] decibel opened #514 "Very confusing output if call.Repeantability exceeded"
If too many calls with the same exact inputs happen, the error report is extremely confusing:

[code]

I think the best way to handle this would be for Mock.MethodCalled() to include `closestCall.totalCalls` in it's output somehow. Is there a better way?

It would also be nice to report how many calls have already occured, vs how many were originally allocated, but that's hard to do since Repeatab

[2017-10-24 15:02] tbruyelle commented on #474
It's an exported method, so why not ?
Sometimes you just want to make your test fail, according to some conditions that can't be asserted with this library.

[2017-10-24 15:04] icholy commented on #474
@tbruyelle  I mean as opposed to using [testing/T.Fail](https://golang.org/pkg/testing/#T.Fail)

[2017-10-24 15:12] tbruyelle commented on #474
To keep the nice output of `testify`.

[2017-10-30 10:10] bweston92 opened #515 "Using percentage sign "assert.Equals" screws output."
Take the following test case
[code]

When `formatUnequalValues` is called from within `assert.Equal` it outputs
[code]
Instead of
[code]

[2017-10-30 11:47] leplatrem commented on #373
Thank you for opening this issue!

It took me a very long time to figure out that the `panic on index out of range` was due to the call of `On(...)`

I had to replace:
[code]
to
[code]

I guess it would help if the introductory example in the docs would show a full assertion (eg. with a `On(...).Return(...)` and an `AssertCalled()`)

[2017-11-02 13:29] Vorte commented on #512
I am having the same problem but it seems the problem is in Gogland, not testify. Testify already supports running specific tests in a suite.

https://godoc.org/github.com/stretchr/testify/suite - 'Regular expression to select the methods of test suites specified command-line argument "-m". '

We need better support for testify in Gogland as requested here: https://youtrack.jetbrains.com/issue/GO-

[2017-11-10 18:50] KingCrunch opened #516 "Support assertEqualXML and ...JSON"
It would be nice to easily compare encoded objects like XML or JSON

[code]

[2017-11-13 16:11] bojan-embroker opened #517 "Sub tests are not supported"
Error Stack is empty when require or assert are used with testing.T returned from t.Run()

[2017-11-13 21:17] KingCrunch opened #518 "Support diff for strings"
When comparing strings

[code]

it would be convenient to get the diff of both strings like one gets when comparing objects.

[2017-11-14 18:08] santoshaitha opened #519 "mock returns panic when API uses context"
go test command returns below panic when we try to use mocks.On: Does testify/mock support context as a parameter.

it reports it is getting type as context.emptyContext

mockery generated API as below:
---------------------------------
// SetSchema provides a mock function with given fields: ctx, in
func (_m *MockUtils) SetSchema(ctx context.Context, in *models.Schema) (*models.Schema, error) {

[2017-11-15 15:28] fJancsoSzabo opened #520 "assert.Equal panics when comparing nil interface and interface containing string"
The following code causes Equal to panic, instead of failing:

[code]

[2017-11-15 16:14] fJancsoSzabo commented on #502
See [https://github.com/golang/go/issues/19502](https://github.com/golang/go/issues/19502).

To summarize the link: this isn't a bug in testify, it's how the time package works.  Marshalling the time drops the monotonic clock reading, as that only has meaning within the current process.  Round trip marshalling and unmarshalling of times will produce different structs.

[2017-11-16 12:22] sagikazarmark commented on #494
I would like to second this request (not just +1). At least some response from the authors would be nice.

Finally Go packages reach an era when one can use properly versioned dependencies (glide, dep, etc), not just pull in the latest master (go get). I believe testify is one of the most required packages out there, so it would be nice to see that it follows the latest, best practices.

[2017-11-16 18:08] dnephin commented on #497
I opened #486 a little while ago, no response about it yet.

[2017-11-16 18:41] fJancsoSzabo commented on #520
Closing this issue, already fixed in master but not fixed in 1.1.4 (version I've been using).

[2017-11-16 18:41] #520 closed

[2017-11-20 20:26] lnashier opened #521 "When is the next version coming up?"
When will you release next version? We are waiting for some features which are only available in master.

[2017-11-21 19:36] philtay commented on #494
ping @ernesto-jimenez

[2017-11-27 10:10] azbshiri opened #522 "[assert.HTTPSuccess] Remove "?" when `values` not provided"
When testing a RESTful API endpoint and passing `url` to`HTTPSuccess` the private function httpCode adds a question mark (?) after `url` which should skip `values' is not passed.

[code]
https://github.com/stretchr/testify/blob/2aa2c176b9dab406a6970f6a55f513e8a8c8b18f/assert/http_assertions.go#L15

Stack trace:

[code]

[2017-11-27 10:40] azbshiri commented on #522
https://github.com/stretchr/testify/pull/523

[2017-11-27 11:35] RiteekS commented on #31
This error is coming at random times for me. Sometimes the test is passing and sometimes it is showing the same error `The code you are testing needs to make 1 more call(s)` can someone please help.

[2017-11-28 09:29] djui opened #524 "Race in require for several Go routines"
[code]

[code]

[2017-12-01 01:40] jamesonjlee commented on #519
have you tried `*context.emptyCtx` or `context.emptyCtx` or `AnythingOfType(context.Background())`?

I had a similar issue that was solved by passing in name of the context type that I expect to be passed.

[2017-12-01 01:41] santoshaitha commented on #519
Yes i tried all these types got similar kind of error each time

[2017-12-04 15:14] JordanP commented on #524
According to https://golang.org/pkg/testing/#T : `Those methods, as well as the Parallel method, must be called only from the goroutine running the Test function.`

[2017-12-04 17:27] martinlindhe commented on #468
I guess your checkout of testify is too old. Update it with

    go get -u github.com/stretchr/testify

Your snippet works correctly with up-to-date code, the function is defined at https://github.com/stretchr/testify/blob/master/require/require.go#L871

[2017-12-04 18:42] djui commented on #524
Hi @JordanP, thanks, I also read up on it shortly after and saw that this is unrelated to testify, but then forgot to close the issue.

[2017-12-04 18:42] #524 closed

[2017-12-06 22:08] elfisher opened #525 "Confusing docs. NoError has no return value, but says it returns true or false."
https://github.com/stretchr/testify/blob/2aa2c176b9dab406a6970f6a55f513e8a8c8b18f/require/require.go#L550

[2017-12-07 23:36] santoshaitha commented on #519
It works with AnythingOfType(*context.emptyCtx). But as context.Context is of type interface, isn't AnythingOfType should accept context.Context also?

[2017-12-08 00:43] SophisticaSean opened #526 "Project migration, or ownership update"
Hey all,

I, and many of my peers, use this repo a lot for testing. Could we update the membership to have people in it willing to merge some pull requests? I'd be happy to volunteer to maintain this repo. If not, we'll have to hard fork since there's currently 40 PR's open and the last commit happened 5 months ago. :( Releases need to be cut and improvements need to be made!

[2017-12-08 00:47] SophisticaSean commented on #482
Agreed, this looks abandoned.

[2017-12-12 21:30] zricethezav commented on #516
Looks like JSON is covered: https://github.com/stretchr/testify/blob/master/assert/assertions.go#L1128

[2017-12-14 14:47] nicolaiskogheim commented on #526
stretchrs website domain is for sale. Maybe the org is dead. Of all their repos, this is the one with the most recent commit.

[2017-12-14 15:07] nicolaiskogheim commented on #518
It's not nice, but I get the diff by converting strings to arrays.

[code]

[2017-12-15 18:37] philtay commented on #526
It would be nice to have a "gotesting" GitHub organization with a (mantained) "testify" repo. Something like https://github.com/gotesting/testify.

[2017-12-15 19:02] dignifiedquire commented on #526
@philtay I think this is a great idea to start an org to collect testing tools for go

I just created https://github.com/test-go/testify for this purpose, let me know if you want to help maintain this and I'll add you to the org

[2017-12-15 19:17] dignifiedquire commented on #526
See https://github.com/test-go/testify/issues/1

[2017-12-15 22:01] philtay commented on #526
@dignifiedquire Yep, add me. Although I don't have many cycles to spare I'm sick to see `testify` in this sorry state.

[2017-12-15 23:11] dignifiedquire commented on #526
@philtay invite sent

[2017-12-21 14:08] philtay commented on #482
New and active repo (forked): https://github.com/test-go/testify

[2017-12-21 14:08] philtay commented on #494
New and active repo (forked): https://github.com/test-go/testify

[2017-12-21 15:54] reidrac commented on #482
Any information re: the fork? Who's behind it?

[2017-12-21 17:27] philtay commented on #482
Basically a group of volunteers. The project is seeking maintainers. ref. https://github.com/test-go/testify/issues/1

[2017-12-22 07:31] nilslice commented on #526
@dignifiedquire, @philtay, if you're looking for some more help, I would be happy to try my hand at some maintenance. We use the old stretchr repo for tons of our testing at work and this sounds more promising!

Feel free to throw an invite to the org my way if you'd like.

[2017-12-22 08:03] dignifiedquire commented on #526
@nilslice invite sent, welcom

[2017-12-22 10:11] ernesto-jimenez commented on #526
👋 sorry for the late reply.

Getting some help would be awesome!

What do you think would be the best way to open up contributions while being careful with backwards compatibility?

I had a new job and it has been crazy busy recently, which made it hard to properly review the PRs.

Since most people never used versioning, keeping testify backwards compatible is pretty critical, which means we need

[2017-12-26 07:20] GreenGeorge opened #528 "Some assert.XXXXf methods have no error msg params"
Hi,

I was trying to use the `assert.HTTPSuccessf` method and found it's missing the formatted error message functionality and it's implementation signature is different from the docstring

from `assertion_format.go`

[code]
furthermore, there seems to be several `XXXXf` methods with no error msg param, namely:
`HTTPBodyContainsf`, `HTTPBodyNotContainsf`, `HTTPErrorf`, `HTTPSuccessf`

They seem to

[2017-12-29 07:26] dineshkumar-cse commented on #464
I've raised a PR https://github.com/stretchr/testify/pull/529 comments are welcome.

[2017-12-30 14:23] #508 closed

[2017-12-30 16:05] ernesto-jimenez commented on #497
This has been proposed a couple of times.

My main concern is that such an assertion is encouraging anti-patterns.

Too many new go developers rely on parsing error messages to implement their programs rather than using types.

If this kind of situation is uncommon, is it worth adding a that will nudge people into doing the wrong thing?

If we were to do a new major version breaking backwards comp

[2017-12-30 16:32] #141 closed

[2017-12-30 16:47] ernesto-jimenez opened #535 "Use go-cmp instead of reflect.DeepEqual"
The package `github.com/google/go-cmp` is better suited for comparison in tests than `reflect.DeepEqual`.

We should replace our `DeepEqual` usage with `go-cmp`.

Replacement should be backwards-compatible.

[2017-12-30 16:53] ernesto-jimenez commented on #464
Fixed in #529

[2017-12-30 16:53] #464 closed

[2017-12-30 17:26] #428 closed

[2017-12-30 17:42] ernesto-jimenez commented on #522
@azbshiri your server should be OK receiving a trailing `?`, since the request is basically the same.

Regardless, happy to clean this up, so feel free to issue a PR with the corresponding test.

PR #523 was missing tests and the behaviour was incorrect.

[2017-12-30 17:45] #528 closed

[2017-12-30 17:45] ernesto-jimenez commented on #528
@GreenGeorge thanks, fixed in #537

[2017-12-30 17:46] ernesto-jimenez commented on #512
Thanks, as Vorte mentioned, testify does support it.

You would need to include the support in Gogland.

[2017-12-30 17:46] #512 closed

[2017-12-30 18:59] ernesto-jimenez commented on #521
Released https://github.com/stretchr/testify/releases/tag/v1.2.0

[2017-12-30 18:59] #521 closed

[2017-12-30 19:00] ernesto-jimenez commented on #188
I would suggest using `dep` rather than gopkg.in

[2017-12-30 19:00] #188 closed

[2017-12-30 19:07] ernesto-jimenez opened #541 "Add contributing guidelines on how to make backwards compatible changes"
We often get PRs that result in breaking changes.

It would be good to get a CONTRIBUTING.md that outlines how to make backwards compatible changes and what to be careful with when exporting new types/functions.

[2017-12-30 19:12] ernesto-jimenez commented on #526
Closing this.

I have gone through most of the PRs today, made some changes I had pending, and released a new version. Hope to do some more work over the next few days.

If somebody wants to help, I would still appreciate help triaging the issues or addressing the PRs that got requests for changes.

[2017-12-30 19:12] #526 closed

[2017-12-30 22:02] dnephin commented on #497
I certainly agree that parsing strings from an error message is not a good pattern for handling errors.

However, that still leaves the question of how should tests check for errors?

I would argue that the current `assert.Equal()` is even worse. It does nothing to encourage types, and can be very misleading:

[code]

Even with typed errors, the contents of the error message is often relevant, as

[2017-12-31 02:35] dnephin commented on #497
Another thing to consider is that https://godoc.org/github.com/pkg/errors is one of the best ways to handle errors. Wrapping an instance of an error, and using if/switch with `errors.Cause(err)` to look through the wrapping for the root cause. With that package an assertion might look like:

[code]

But if the unit under test is a higher level abstraction, that itself just wraps an already wrapped

[2017-12-31 11:25] #295 closed

[2017-12-31 12:42] #525 closed

[2017-12-31 12:43] ernesto-jimenez commented on #519
@santoshaitha yes, it should allow for interfaces.

We would need to change the reflection checks inside `AnythingOfType` to accept an interface and check whether the argument is assignable to that interface.

[2017-12-31 12:44] ernesto-jimenez commented on #518
What should the output be like?

[2017-12-31 12:51] ernesto-jimenez commented on #516
Renaming issue since `JSON` is covered.

XML is a lot trickier to implement. How would you expect it to work? Especially given XML namespaces, canonicalization, etc.

[2017-12-31 12:56] ernesto-jimenez commented on #514
The whole setup to keep track of calls is quite messy because the original package exposed too much of its internals like `Repeatability`, which means we cannot change that behaviour without introducing a breaking change.

We can definitely improve on the error message and specify that calls have been exhausted on the closest call.

Something like:
[code]

[2017-12-31 13:04] ernesto-jimenez commented on #504
The problem is `AssertExpectations` re-evaluates everything, which has other problems: `mock` is storing the calls internally to replicate on the assertions, which in turn means that it can have a false failure if the mocked method received a pointer and the underlying object was mutated after the call succeeded.

Last time I looked into this it was quite tricky to fix that behaviour without intro

[2017-12-31 13:08] ernesto-jimenez commented on #502
We should use `go-cmp` instead of `reflect.DeepEqual`, which would solve this and some other issues.

There's an issue to track that here: https://github.com/stretchr/testify/issues/535

Contributions more than welcome :)

[2017-12-31 13:09] ernesto-jimenez commented on #499
@ahmetb can you share a failing test?

[2017-12-31 13:41] ernesto-jimenez commented on #497
@dnephin

I agree. I wish removing `msgAndArgs` from all assertions was a backwards-compatible change.

If we were to do testify v2.0.0, we would definitely remove it.

Really looking forward to `dep` picking up traction in order to be able to do a new major version.

Sure, but error messages are not part of the package's API and are subject to change.

In these cases I would usually:
* unit-test

[2017-12-31 18:32] ahmetb commented on #499
I’m afraid I no longer have this code but it’s probably fairly easy to replicate. Just create a `struct T` and create a pointer to it, pass the pointer variable of type `*T` to testify.

The main point of this is issue is that it’s not showing per-field diffs (i.e. each field on a separate line). It used to do that, if my memory serves me correctly.

[2017-12-31 22:12] dnephin commented on #497
Yes, I would expect that `ErrorType()` should only accept interface types as the "type" and use `reflect.Type.Implements()` to check the condition. I guess this is already implemented as https://godoc.org/github.com/stretchr/testify/assert#Implements (except the args are in the opposite order, which is a separate issue).

Those lines are almost exactly what `errors.Cause()` already does: https://g

[2018-01-02 01:40] dnephin commented on #535
From what I've seen having used [go-cmp to create an assertion](https://github.com/gotestyourself/gotestyourself/pull/34) there's no way to make it backwards compatible.

`go-cmp` requires that for each struct in a comparison that has any unexported fields you must explicitly use either `AllowUnexporterted` or `IgnoreUnexported`. This requirement seems like one of the advantages of using `go-cmp`

[2018-01-03 19:33] sashaweiss commented on #83
Hey all - was there resolution on this, or a lasting workaround? Running into this myself currently, and it's driving me nuts.

[2018-01-05 21:48] Alexendoo commented on #325
I'm still hitting this issue on the latest master (87b1dfb5b2fa649f52695dd9eae19abe404a4308), it seems to happen whenever there's an 0x25 byte (as far as I've seen so far)

It's reproduced by the following:

[code]

with the output:
[code]

[2018-01-06 14:39] moorereason commented on #325
@Alexendoo,
My original PR fixed the "expected/actual" output, but I didn't notice that the diff output still had the problem.  Can you create a new issue instead of reopening this one?  I think the problem is at [assert/assertions.go#L182](https://github.com/stretchr/testify/blob/87b1dfb5b2fa649f52695dd9eae19abe404a4308/assert/assertions.go#L182).  `fmt.Sprintf` needs a format string.

[2018-01-06 15:30] Alexendoo opened #544 ""MISSING" appearing in binary diffs"
Binary diffs seem to include some odd output, it's reproducible wherever the byte 0x25 appears:

[code]

with the output:
[code]

[2018-01-06 15:30] Alexendoo commented on #325
@moorereason sure thing, opened as #544

[2018-01-09 14:19] nicolaiskogheim commented on #518
I suppose KingCrunch wants the string to be split on newlines so that the diff shows the "foo" part as equal and "bar" vs "baz" as a difference. That's what you get if you do like I did in my previous comment.

I often have two long strings (like some compact JSON), and to get a readable diff I have to prettify the JSON somehow and split the strings on newlines before I pass it to `assert.Equals`.

[2018-01-09 21:16] santoshaitha commented on #519
Thanks Hope it will be fixed in future commits.

[2018-01-10 00:28] dbresson commented on #359
This is still an issue.

[2018-01-10 00:53] nhooyr commented on #172
@ernesto-jimenez why couldn't you do that with `require`? In fact, using `require` there would also mean no need for the if statement.

[2018-01-10 00:56] markbates commented on #172
I’m closing this since I meant to close it 3 years ago. :)

I opened this before I knew about the require package, so there is no need for this proposal.

[2018-01-10 00:56] #172 closed

[2018-01-10 10:28] dineshkumar-cse commented on #359
@dbresson could you share the code with those 2 slices which the comparison failed. In order to reproduce it.

[2018-01-17 16:57] markbates opened #547 "Proposal: Unify Line Endings"
It is not uncommon to have a test that looks something like this:

[code]

This works fine when running tests on Linux (and Mac) systems, but breaks on Windows because the result is actually `foo\r\nbar`.

My proposal is to, in `Equal` replace any instances of `\r\n` with just `\n` for both the expected value and the actual.

With this, tests should work on both platforms, and preserve the intenti

[2018-01-19 15:27] mauleyzaola opened #548 "Package won't run tests"
I noticed this when running CI on one of my servers that uses this package.
[code]
In path: `$GOPATH/src/github.com/stretchr/testify/assert`

[code]

I can help if you like.

[2018-01-23 06:35] dineshkumar-cse commented on #548
[code]

[2018-01-23 12:50] mauleyzaola commented on #548
Hey @dineshkumar-cse I did a full update `go get -v -t -u ./...` and it seems to be working fine now. Next time will be more careful before opening an issue. Thanks!

[code]

[2018-01-23 12:50] #548 closed

[2018-01-23 19:11] evan2645 commented on #519
@santoshaitha this is under go 1.9.2? Can you reproduce under go 1.8.3?

[2018-01-23 19:41] evan2645 commented on #519
I have bumped into something like this after upgrading to go 1.9.2 and updating my project dependencies. I don't fully understand the nature of what's described here, but my failure mode seems similar.

I'm running into panics when trying to return interfaces from EXPECT calls, i.e. `EXPECT().Foo().Return(interface_conforming_type_here)`. Using testify's current master (87b1dfb5b2fa649f52695dd9eae

[2018-01-23 19:46] santoshaitha commented on #519
Yes it is different problem than described in this defect. The issue in this defect is with AnythingOfType doesn't accept interface type but where as your issue related to Return() API.

[2018-01-28 23:17] Hanzei commented on #494
There is a new release 1.2 (See https://github.com/stretchr/testify/releases/tag/v1.2.0)

[2018-01-28 23:38] Hanzei commented on #152
Hey guys,
I want to help getting testify back in shape. There are a lot of open issues, which needs to be dealt with. Also test coverage can be better and the overall toolchain is quite rusty.

Would you mind adding me as a maintainer?

[2018-01-29 05:18] dineshkumar-cse commented on #152
Hi, we use testify extensively in all of our projects, Its so awesome.
_Thanks for the mocks and asserts_ especially :)
I've been following up the issues, and trying to raise PR for few. **I would love to be part of the maintainers community and to learn more and contribute**.

[2018-01-31 23:08] ernesto-jimenez commented on #547
@markbates for something like this, I would rather have a different assertion than overloading Equal.

Particularly [with strings](https://play.golang.org/p/_iUQcLEtLPO).

If we were to have an assertion for something like this. How would you call it?

e.g.: what if somebody is comparing two file paths? Should we account for differences in path separators? How about different character encodings?

[2018-01-31 23:31] ernesto-jimenez commented on #494
And [v1.2.1](https://github.com/stretchr/testify/releases/tag/v1.2.1) now.

🙇

[2018-01-31 23:31] #494 closed

[2018-01-31 23:43] ernesto-jimenez commented on #152
@Hanzei @dineshkumar-cse where are you guys based? It would be good to meet in Slack and have a chat :)

[2018-02-01 03:27] dineshkumar-cse commented on #152
@ernesto-jimenez I'm from India. pinging you in gopers channel #dineshkumar :)

[2018-02-01 06:07] dineshkumar-cse commented on #515
@bweston92 i couldn't reproduce the issue, i have tested with
[code]

But i'm getting the output as expected.

`Test_formatRemoteProductBalanceTransferOffer_DisplayRateWithPeriodNA` and the errored function `Test_formatRemoteProductBalanceTransferOffer_DisplayRateWithPeriod` is different. I'm guessing you're using `fmt.Sprintf(...)` and missed something. if still happens, share the code of the fai

[2018-02-01 08:06] ernesto-jimenez commented on #482
It is, and could do with some help: https://github.com/stretchr/testify/issues/526#issuecomment-353566941

:)

[2018-02-01 08:06] #482 closed

[2018-02-01 09:01] bweston92 commented on #515
@dineshkumar-cse thanks for replying, I can see the example you've provided works so I have no idea what went on. Thanks for your time.

[2018-02-01 09:01] #515 closed

[2018-02-03 00:33] Mistobaan commented on #473
was looking for the same thing. So `suite.T().Skip()` will skip only the current method-test right?

[2018-02-06 08:25] #507 closed

[2018-02-06 10:34] jsvensson opened #556 "Inaccurate MatchedBy error message"
This might sorta-maybe be related to #432.

I'm trying to use MatchedBy to verify that I get the proper object. When I have MatchedBy just return true tests work:

[code]

However, as soon as I'm actually trying to compare values on foo like this:

[code]

Then I get this panic:

[code]

**Update:** After plenty of staring at my test cases and spotting that my test values didn't line up with what

[2018-02-07 09:08] runner-mei commented on #535
advantages of using go-cmp instead of reflect.DeepEqual.

[code]

[2018-02-08 05:08] boazavital commented on #52
just `-parallel 1` may not be sufficient, see https://github.com/golang/go/issues/19280
Looks like in the next release there will be a `parallel=-1` to make tests sequential https://go-review.googlesource.com/c/go/+/44530

[2018-02-22 06:12] jokeyrhyme opened #558 "question / feature-suggestion: built-in way to overwrite / clear ExpectedCalls?"
Firstly, I love this library so much! Hooray! Thanks for sharing! <3

I'm using `suite.Suite` and `mock.Mock` and I have test suites where a number of tests share almost identical mocks, differing only where test-case-specific calls are mocked to fail (in order to test different failure conditions), e.g.

[code]

The subject under test hits many functions like this, so I feel it is important for t

[2018-02-22 06:55] posener opened #559 "proposal: doc: add table driven pattern for mocks"
Hi

It took us a while to find this really easy to use pattern for table driven tests with mocks.
The idea is that each test contains a `prepare` function that gets the mock objects and runs the test case logic.

Before that, we had lots of if statements in the test itself, and here we moved the logic to the table so it is much easier to read and understand.

Here it is, and I suggest maybe add it

[2018-02-22 08:49] devdinu commented on #559
Table driven tests is a a style of writing tests than part of testify.

looking at your example, it has multiple method expectations and arguments.i would prefer it to have separate tests. If there's only one mock expectation setup without many args and expectation. simple input i would prefer it.

we've good examples here https://blog.golang.org/subtests which would be same.

[2018-02-22 08:56] posener commented on #559
If there were no mocks, it would be a straight forward table-driven test example, you have different inputs and expect different outputs.
In case that you are using mocked dependencies in your function, they might behave differently for input as well, or you might want to test different behaviors of them as well. This way makes it easy to define the set of input, behavior and output in a row of th

[2018-02-23 14:35] ifraixedes opened #561 "Possible bug in assert ElementsMatchf"
Go: 1.9.3
Arch: linux/amd64
testify:
	revision = "12b6f73e6084dad08a7c6e575284b177ecafbc71"
	version = "v1.2.1

Using testify `assert.ElementsMatchf` I've got several times the assertion failure similar the one posted below; I cannot reproduce it in a deterministic way because I'm running the test with generated random values, however if I run the test several times, I'm getting the assertion fail

[2018-02-23 14:56] ifraixedes commented on #561
Working in the workaround for comparing the results in other way than with `assert.ElementsMatchf` I've found that the issue was about the types of the elements of the slices.

One contained values and the other pointers, so, there is not bug in the actual check as I mentioned above.

However you may consider that there is a bug in the reported message as it's misguiding about why the assertion fa

[2018-02-24 00:05] dominicbarnes opened #562 "assert NoError behaves unexpectedly with nil struct"
We have some internal functions that return a struct dedicated to wrapping customer-facing errors, and thus have more to it than the standard `error` interface. To enforce that we use these structs everywhere, as we want to, we're returning our custom `*errors.Error` type instead of `error`.

However, when passing the returned value to `assert.NoError(t, err)` it will **always** indicate an error,

[2018-02-26 04:14] devdinu commented on #562
@dominicbarnes Since you're returning `*CustomError` from the succeed method `succeed().Error()` returns "boom" since method call is allowed on nil. Changing the return type to `error` would not fail the test.

[2018-02-26 22:23] abjsaha opened #564 "Build TestEqualFormatting Fail"
[code]

[2018-02-27 04:43] devdinu commented on #564
@abjsaha could you share the test code and code, expectation and what you got separately, so its easy to reproduce and check.

[2018-02-27 10:34] xuruiray opened #565 "compare two function object"
[code]
package assert can't  compare two function object，can you provide related functions ？😊

[2018-02-27 23:52] mattayes commented on #535
@dsnet might be a good person to loop into this conversation (if they're interested).

[2018-03-01 00:34] eliaslevy opened #566 "Negative expectations"
The the moment once cannot express negative expectations via `.On()`.  Instead, you must use `.AssertNotCalled`.  It would be useful if negative expectations could be expressed something like `.On().Never()`.  Note that `.On().Times(0)` does not work.

[2018-03-02 06:55] posener commented on #535
Tried to implement this.
Used what @dsnet suggested with the `deepAllowUnexported` option.
The go-cmp got into an infinite recursion in the testify tests. I guess because of a cyclic list.
I opened an issue in go-cmp, but it seems like it is not going to be supported.
https://github.com/google/go-cmp/issues/74

[2018-03-02 06:57] posener commented on #502
Since #535 is kind of stuck, maybe we should add a special case to time.Time?

[2018-03-02 07:10] mattayes commented on #535
@posener Do you have that branch around still?

[2018-03-02 07:25] posener commented on #535
can push it, nothing to fancy
https://github.com/posener/testify/tree/cmp

[2018-03-03 14:28] #398 closed

[2018-03-03 14:43] ernesto-jimenez commented on #562
@dominicbarnes as @devdinu mentions (thanks!), the issue is a bug in the example. That is a common gotcha from Go.

Closing.

[2018-03-03 14:43] #562 closed

[2018-03-03 14:46] ernesto-jimenez commented on #565
@xuruiray this is a duplicate of https://github.com/stretchr/testify/issues/182

The short answer: it is currently impossible to reliably compare two functions using the `reflect` package.

[2018-03-03 14:46] #565 closed

[2018-03-06 02:19] shaneHowearth opened #568 "Dynamic expectations"
Hi, I'm not sure how to do this, I am trying to mock the Transport interface found in https://github.com/Juniper/go-netconf/blob/master/netconf/transport.go

I have done this using https://github.com/matryer/moq

The problem I have is writing tests using the mocked interface. The expected/actual diffs show that I need to somehow ignore the dynamic part of an rpc call. The code I use is as follows

[2018-03-06 03:31] #568 closed

[2018-03-06 13:55] wuxinwei commented on #425
sounds great, as well as I need a feature to On() receive a function pointer as a parameter

[2018-03-07 23:55] dnephin opened #570 "assert: NotNil accepts non-nillable types and doesn't fail"
https://github.com/stretchr/testify/blob/b89eecf5ca5db6d3ba60b237ffe3df7bafb7662f/assert/assertions.go#L390-L410

`isNil` will always return false, so `NotNil` will always return true for int, string, struct, etc.

I would expect it to error with "invalid type".

[2018-03-11 12:26] devdinu commented on #498
`reflect.DeepEqual(ch, chro)` returns false and not the testify, so we could close this issue.

[2018-03-11 12:39] devdinu commented on #558
I would ideally create a new mock for that particular test, which means the struct/interface which embeds the mock would be new. you could also write subtests for that particular case by grouping it.

You could do `Mock.ExpectedCalls = nil` , but ideally don't depend on the internals unless its really required. also it might cause other tests to fail, because it would be running those in parallel

[2018-03-11 22:17] dpinol opened #573 "panic: test executed panic(nil) or runtime.Goexit"
Hi,
I'm using require 1.2.1.
If I execute the code at the bottom, it does not report the error text, but the error below. With assert, it works fine. I know New() should be called within the lambda, but it's easy to miss it.

thanks!

[code]

[code]

[2018-03-13 03:35] bxcodec opened #574 "Unknown field 'DisablePointerAddresses' in struct literal of type spew.ConfigState"
It seems your third-party library's `github.com/davecgh/go-spew` have a breaking changes

Got Error
[code]

[2018-03-13 17:55] devdinu commented on #573
if you verify no error with the nested instance of testing.T, it will work fine.
[code]

The panic is expected, since you call it in a goroutine as mentioned in https://github.com/golang/go/issues/21175.

[2018-03-13 17:56] devdinu commented on #574
Can you share more information or test code to reproduce the issue.

[2018-03-14 07:41] bxcodec commented on #574
I'm using glide as my package management.
I'm trying to update some package, and for some reasons, this package `github.com/davecgh/go-spew`  was updated.

And after finishing the `glide up`, when running the project's test, I got the error
[code]

[2018-03-14 09:38] devdinu commented on #574
Both [config.go](https://github.com/davecgh/go-spew/blob/master/spew/config.go#L72) in master branch and `v1.1.0` of spew has `DisablePointerAddresses` in ConfigState. i'm surprised how glide update resulted in that change.

[2018-03-14 10:41] bxcodec commented on #574
Hmm.. Weird.
I think this the glide issue then.
I will close this issue.
Thank you for your response.

[2018-03-14 10:41] #574 closed

[2018-03-14 18:45] tobiisan commented on #68
I know this is already closed and everything, but I thought I'd point this out if anyone ever looks at this again and is curious.
I believe the original problem is just a typo in parameter 1.

PSTEX - Mock is wanting this
PSETEX - This got passed in

[2018-03-15 13:46] devdinu commented on #499
I've tested it with a sample test comparing different `*http.Response` and also `http.Response`, and i've got output which shows field specific diffs.

[code]

<img width="1438" alt="screen shot 2018-03-15 at 7 09 26 pm" src="https://user-images.githubusercontent.com/5300055/37466866-d59be4ea-2884-11e8-9487-3fdb6eca3d62.png">

@ahmetb If you face the issue of diff again, please share the test code

[2018-03-15 14:07] devdinu commented on #566
We could use `AssertNotCalled`. Is there any other specific reason or thoughts that you want such feature. `Times(0)` doesn't work, because [closest call](https://github.com/stretchr/testify/blob/master/mock/mock.go#L240) checks for -1.
[code]
**we could make the Times panic if its passed with an argument <= 0**

Even if we set expectation like `mock.Never("method")` before the actual call of func

[2018-03-15 17:38] #499 closed

[2018-03-17 10:01] posener commented on #535
If [this](https://github.com/google/go-cmp/pull/78) is merged, we can have `go-cmp` used here

[2018-03-18 18:57] ernesto-jimenez commented on #522
Fixed in #575

[2018-03-18 18:57] #522 closed

[2018-03-18 18:58] #556 closed

[2018-03-18 19:33] ernesto-jimenez commented on #561
@ifraixedes do you want to submit a PR?

It should be just a matter of updating our use of `Sprintf` with something more insightful than a plain `%s` :)

[2018-03-18 19:39] ernesto-jimenez commented on #564
@devdinu this relates to an [internal testify test](https://github.com/stretchr/testify/blob/20dae5818099126a2cc52f93c075869b49dc4e1c/assert/assertions_test.go#L253).

@abjsaha what version of Go are you using and on what platform (linux, windows, ...)?

[2018-03-18 19:45] ernesto-jimenez commented on #566
@eliaslevy I wish `Times(0)` worked as you would expect. Unfortunately, [it is a breaking change](https://github.com/stretchr/testify/pull/274) that requires a new major version for testify.

You can do `Times(-1)`.

I wouldn't be opposed to adding `.Never()` which sets `Repeatability` to `-1`.

[2018-03-18 19:47] ernesto-jimenez commented on #570
@dnephin that sounds good. Do you want to issue a PR?

[2018-03-18 19:51] ernesto-jimenez commented on #535
@posener being able to use `go-cmp` would be fantastic. 🙌

[2018-03-19 07:42] #489 closed

[2018-03-19 07:52] ernesto-jimenez commented on #502
@posener unfortunately, that would require implementing our own version of `go-cmp`, since we would have to look for it recursively.

[2018-03-19 08:04] ifraixedes commented on #561
I'll bear in mind, but I cannot promise when I'll be able to get a spot for working on it.

[2018-03-19 21:05] posener commented on #535
@ernesto-jimenez another issue here: I guess we are intending also to use the `cmp.Diff` function. However, it's output is different then the current one. I guess this is API breaking change. Any ideas?

[2018-03-19 22:32] posener commented on #535
I've used my branch in [go-cmp](https://github.com/posener/go-cmp/tree/detect-cycles2) and my branch [testify](https://github.com/posener/testify/tree/cmp).

* It now runs (no stack overflows...)
* Diff is different since go-fmt has different format.
* Types equality fails for some reason.

Here are the result of the tetify unit-tests: [results.txt](https://github.com/stretchr/testify/files/182718

[2018-03-20 16:13] dnephin commented on #535
How are you planning on accepting https://godoc.org/github.com/google/go-cmp/cmp#Option to `Equal` ? Without `Option`, and always using `deepAllowUnexported`, the only advantage over `reflect.DeepEqual` is the change in output format.

[2018-03-20 20:02] posener commented on #535
Another blocking issue for using go-cmp: https://github.com/google/go-cmp/issues/80.

[2018-03-21 07:39] devdinu commented on #517
Could you share the test code, with actual and expected output, so we could reproduce.

when the subtests are run, its gets a new instance
[code]

When you say error stack, which one are you mentioning specifically?

[2018-03-21 11:49] rzajac opened #578 "Named tabular tests wrong test log"
How do I properly do named tabular tests?

I have tird:

	func (suite *UserTestSuite) TestUser_HasRole() {
	    tt := []struct {
	        Name  string
	        Roles []*Role
	        Role  string
	        Exp   bool
	    }{
	        {
	            "test0", // This one is failing
	            []*Role{{Role: "r2", Aux: "a2"}},
	            "r2:a1",
	            true,
	        },
	        {

[2018-03-21 20:27] posener commented on #535
@dnephin , I think the main advantage is that it gives more control over comparing: For example, if you want extra control on comparing time objects: ignore timezone or wall time, it could be done in the `cmp.Equal` but not in `reflect.DeepEqual`.

[2018-03-21 20:38] dsnet commented on #535
To expand: `reflect.DeepEqual` does a decent job at comparisons and has serve the Go community well for many years. However, compatibility issues due to its pervasive usage has increased as the scale of Go code also increases. For example, when monotonic timestamps were added, it could not compare `time.Time` well as it would implicitly compare upon the unexported monotonic timestamps fields. It h

[2018-03-21 20:58] dnephin commented on #535
@posener Yes I understand the value of `go-cmp`. I have been using it instead of `reflect.DeepEqual`.

My question was:

`testify/assert.Equal` already has a var args, so you can't use a var args like `cmp.Equal` (and [as I have](https://godoc.org/github.com/gotestyourself/gotestyourself/assert#DeepEqual)).

If you only apply a static set of `Options` that mimic the behaviour of `reflect.DeepEqual

[2018-03-22 09:07] posener commented on #535
I agree - and we are also breaking API by changing the diff format.

[2018-03-22 09:16] posener commented on #535
Rethinking:

I see two more options:
1. We can just use cmp.Equal without any user-define problems, and define "general" options that can solve issues in testify, such as time comparing.

2. We can have an ugly workaround for user define options:
  * We can pass compare options to [assert.New](https://github.com/stretchr/testify/blob/c7668ea997d68b07ceaa34c46cef1419c39a2374/assert/forward_assertio

[2018-03-23 05:09] tommy-zhouketao opened #580 "Assert a struct object equals to the other one without some properties？"
I wish the assertion return true for asserting two object with the same struct are equal even though they have some specified properties with different values.

[2018-03-23 05:15] devdinu commented on #580
You could separately assert the properties which you need from the structs.
[code]
 we don't have a feature where you could say both struct are same excluding some fields.

[2018-03-23 05:21] tommy-zhouketao commented on #580
Ok, thank you very much!

[2018-03-23 05:21] #580 closed

[2018-03-26 12:41] tobilen opened #583 "[Question]: Mock.On Usage"
i've been trying to implement this mock, and according to the docs it should work. Am i doing something wrong?
Other mock instances work fine.

https://play.golang.org/p/hHMT32CKwtY

test output:
[code]

thanks!

[2018-03-26 14:07] AlexMarold commented on #583
We've solved this with calling 'Called' and assigning (and casting) the return vars.

https://play.golang.org/p/Afp45gkG7rS

[2018-03-26 14:09] #583 closed

[2018-03-26 14:39] icholy commented on #535
Another option is to allow overriding default behaviour.

[code]

[2018-03-27 05:53] devdinu commented on #578
[code]
I had a similar suite, and tested with `assert.True(tc.Name, tc.Exp)` which results in the following output. when i reordered the result FAIL: is proper.

![image](https://user-images.githubusercontent.com/5300055/37949068-ab61d736-31b0-11e8-8348-226b4c7cc878.png)

@rzajac The test code you shared is different than the test output. could you be specific and let us know if its still needs so

[2018-03-27 14:46] ansel1 commented on #535
Yet another option: leave the current function as is, to maintain compatibility, and add a new function which uses go-cmp (and takes options, etc).  EqualEx or Equivalent or Comparable or something.

[2018-03-28 00:40] mohanraj-r commented on #562
I am running into the same issue as well and forced to use `require.Nil()`, even in cases where `require.NoError()`, reads better

But then it requires type casting to the custom error type to take advantage it e.g to access fields in the custom error struct.

[2018-03-28 03:41] devdinu commented on #562
Yes, if you wanna propagate information through custom error type, the you've to typecast it in the caller side. Idiomatic way suggested to use [errors as values](https://blog.golang.org/errors-are-values).

[2018-04-02 22:48] Tang8330 commented on #429
+1 Also running into this type of issue. @barockok were you able to resolve this?

[2018-04-03 03:39] Tang8330 opened #586 "Unexpected Method Call"
I'm trying to mock `PutItem(*dynamodb.PutItemInput)` from AWS Dynamo Package [GoDoc here](https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/#DynamoDB.PutItem)

However, I'm running into a bunch of problems that look something like this:
[code]

I've tried a couple of things:
- Check for types:
[code]
- Removed the .Once() to make sure it's not being called multiple times..

What I've fou

[2018-04-03 04:11] devdinu commented on #586
@Tang8330 I don't know about `PutItemInput.Item` why its different.

You could mock with argumentMatcher, also assert the argument properly using `mock.MatchedBy`. Add custom/partial match against the passed argument with an expected one, match only fields which are necessary.

[code]

Hope this helps.

[2018-04-03 09:14] devdinu commented on #570
[code]
All the above will be nil, it could be a case where the function returns a value and we generally check its not nil. ```assert.NotNil(t, getSomething())```. So all these are valid `nil` case.

I wouldn't mind adding a log, but failing a test, would make the contract differ.

[2018-04-03 09:39] rzajac commented on #578
@devdinu My full test looks like this:

    type AUserTestSuite struct {
        suite.Suite
    }

    func TestAUserTestSuite(t *testing.T) {
        suite.Run(t, new(AUserTestSuite))
    }

    func (suite *AUserTestSuite) TestAUser_HasRole() {
        tt := []struct {
            Name  string
            Roles []*Role
            Role  string
            Exp   bool
        }{
            {

[2018-04-03 14:31] devdinu commented on #578
@rzajac There's still unknowns `NewEmptyUser()` and `u.HasRole` logic, which makes it hard to help. Could you narrow down or share a simple version, where there's no hidden logic (unknowns), and point out what's wrong with testify. some test suite i could run, so we could fix it.

for this case `role_aux_does_not_match` what i could guess is, you're assigning `[]*Role` to user and checking `string

[2018-04-03 15:04] rzajac commented on #578
@devdinu Below is the full self contained example of the code and test.

code:

    type ARole struct {
        Role string
        Aux  string
    }

    type AUser struct {
        Roles []*ARole
    }

    func (r *ARole) Name() string {
        ra := r.Role
        if r.Aux != "" {
            ra = ra + ":" + r.Aux
        }
        return ra
    }

    func NewAUser() *AUser {
        return

[2018-04-03 18:31] Tang8330 commented on #586
@devdinu Thanks for that, it certainly did help!

It would be great to get to the bottom of why the object was not picked up by the mocking library. Your suggestion has greatly improved my workaround solution and thank you for that.

[2018-04-03 18:52] dnathe4th opened #587 "mock does not enforce arity if parameter is Anything"
[code]

The logic in `Arguments.Diff` does not check whether a given argument is required by the function signature before checking if the value is `Anything`. Phrased another way, there is no explicit arity check on the mocked method.

[2018-04-05 08:43] morriswinkler-simple commented on #386
Well finaly :0

[2018-04-06 09:42] devdinu commented on #587
We could also think about failing the setup of expectation, when the `On(expectation)` and  `Bar(actual)` arity mismatches. we should also consider variardic in it. This could be a separate PR or enhancement.

[2018-04-07 12:45] mh-cbon opened #589 "improve output"
hi, small suggestion about the output i have to deal with right now using your test library, thanks for it.

I have terrible output such as

[code]

But, in my atom terminal because there is no forced line break, it appears such as,

[code]

I wish the output to be in such way that the colon are starting at same column numbers so i can easily compare the two text outputs.

I cant demo it because t

[2018-04-09 19:09] dnephin commented on #570
@devdinu the contract should be different. This is a bug, not a feature request.

The problem is this:

[code]

If kind is not in that range, `isNil` returns false, so `NotNil` assumes it's not nil. However the value can't be nil, so it should be a panic, or a failed test.

Some examples:

[code]

None of these fail the test. This is broken.

[2018-04-10 08:03] joosep-wm opened #590 "Using testify flags with dependency that does "flag.Parse()" in init()"
Hi

I'd like to use -testify.m flag and also a dependency that's using flag.Parse() in it's init() function. Right now it's not possible, because flag.Parse() from dependency does not know about the "testify.m" flag and fails.

Is there some workaround for this or some other way to run a single method?

Here's an example project that illustrates this problem: https://github.com/joosep-wm/flaggery

[2018-04-11 04:59] devdinu commented on #587
@dnathe4th Yep, agreed its not possible in current `On` method, since we've reference to `*mock.Mock` type and the other methods isn't available via reflection.
i've tried whether we could get the information with reflection, but i couldn't find any.

But for the above proposal, i am thinking of
[code]
This would enable us to have a strict mocking and argument verification, and helps in case of re

[2018-04-11 19:50] CreatCodeBuild opened #591 "[Bug] Private struct implementations fro Private interfaces"
If I have private interfaces, the mock structs generated will be private too. The mock structs should always be public.

[2018-04-11 19:56] CreatCodeBuild commented on #591
Sorry, wrong place. Should be in https://github.com/vektra/mockery

This lib uses `testify/mock`

[2018-04-11 19:56] #591 closed

[2018-04-17 23:09] fkirill commented on #564
$ go version
go version go1.9.4 linux/amd64

[2018-04-19 06:43] iliacimpoes commented on #578
try instead of:
[code]
[code]
assertion should be made on `testing.T` not on `suite`

[2018-05-02 03:13] timfeirg commented on #589
you mean like https://github.com/stretchr/testify/pull/594 ?

[2018-05-02 18:26] mh-cbon commented on #589
thanks, indeed your pr seems to help that situation, closing it.

[2018-05-02 18:26] #589 closed

[2018-05-08 00:59] littledot opened #597 "How to assert the address of 2 pointers are (not) equal?"
According to the docs, pointers are considered equals as long as their ref'd values are equal.

[code]

However, this can be difficult when testing clone functions because in addition to testing the referenced values, I also need to test the memory address are new and not the same.

[code]

Are there any functions that compares memory addresses values of pointers?

[2018-05-08 07:06] devdinu commented on #597
@littledot As its a pointer, You could just use `==` operator to verify its different memory.

`orig==copy` is `false` and `orig==orig` is `true`.

[2018-05-08 08:43] littledot commented on #597
Yes I can do == with assert.True(), but the default error log for assert.True() is vague due to a lack of context. Hence I'd like to know if there is a dedicated assert function for comparing memory addresses? Which will also pretty print the pointers on assertion failures.

[2018-05-09 06:57] falkerson opened #598 "Assert for HTTP Headers"
Assert package has 2 useful method to verify HTTP status - https://godoc.org/github.com/stretchr/testify/assert#HTTPSuccess and body - https://godoc.org/github.com/stretchr/testify/assert#HTTPBodyContains . It will be nice also to add method to verify HTTP headers.

[2018-05-09 12:05] Tommy-42 opened #599 "assert dont fail when nil is expected"
Hey there,

I've a strange behavior, I might miss something or do something wrong.

I am currently using testify/assert and testify/suite

with :

[code]

The problem is that I have a SIGSEGV on
`assert.Equal(s.T(), err.Error(), "failed")`

because `err` is nil but it should not happen since I check `assert.NotNil(s.T(), err)` right before.

I dont know why it pass, did I miss something somewhere

[2018-05-09 15:19] Tommy-42 commented on #599
I've tested with `assert.Error()` / `assert.NoError()` since it looks like more appropriate for asserting error , but I go the same behavior.

[2018-05-09 15:32] datjwu opened #600 "Equal Doesn't Show Diffs Properly When Using Protocol Buffers"
I get the following back when I try running `assert.Equal()` on structs that are improted from a generated protocol buffer file:
[code]

However, I noticed that if I just copy the struct from the [generated protocol buffer file](https://github.com/datjwu/testify-protobuf-example/blob/master/proto/example.pb.go#L30-L34) into the test function, it seems to work as intended.

I have an example repo [

[2018-05-10 21:19] littledot commented on #597
What are your thoughts on a new assertion function `assert.Same(*testing.T, interface{}, interface{})` that simply wraps the `==` check?

https://play.golang.org/p/ZEzrtMb7oQN

[2018-05-11 06:39] devdinu commented on #597
looks good, we also have to check the types of the two pointers, and report properly if its different, and not just print the different address.

[2018-05-11 15:01] jcferretti opened #602 "Conditions are too expensive on the successful path."
Conditions call `testing.T.Helper()` in the non-failing path, which is expensive (uses mutexes and `runtime.Callers`: https://golang.org/src/testing/testing.go).
We have some tests for numerical code that make heavy use of `require` to validate results; these tests check many possible values of the input range. The tests as written were working fine with go 1.8; when trying go 1.10 the time this t

[2018-05-12 03:01] devdinu commented on #599
Can you share code to reproduce this, `MyFunc(bar)` is abstracted and if its not nil `err.Error()` shouldn't fail, There could be more variable here. A simple function returns the error, and the unexpected behaviour (whole output).

[2018-05-14 10:02] falkerson commented on #598
@devdinu pls take a look https://github.com/stretchr/testify/pull/601

[2018-05-14 13:14] devdinu commented on #598
I've been thinking an alternate or a function which takes request, coz these functions doesn't accept `body` too.

Also for each type of extraction we've to keep exposing a function. Rather

[code]
it would be a new set of functions, probably others could comment, because i haven't used much of HTTP functions, as i write those custom. These function has more params and feels like just a wrapper ar

[2018-05-16 17:45] cpapidas opened #604 "Cannot install testify/mock via dep tool"
Cannot install testify/mock via dep tool

command `dep ensure`

[2018-05-16 19:19] mwei0210 opened #605 "Require doesn't stop test immediately"
So I was using require.NoError(t, err) and an error was returned which means the test should stop immediately, but instead, the next line was executed too, is this a known bug?

[2018-05-24 05:56] devdinu commented on #599
You should return `error ` from foo function and it should work.

[code]

Be careful about returning nil pointer to the error, `var e *MyError` though e is nil it would fail `NoError`, and printing it would return the value returned from `func Error()`.

[2018-05-24 07:34] rvdwijngaard commented on #599
@devdinu thanks for your comment; I changed the code and it works. Do you have an explanation for this issue?
[code]

[2018-05-25 19:11] mattgen88 commented on #598
The usefulness of the HTTP functions seems to fall a bit short. If your handler requires reading headers, they won't work for you. If you need to send something in the body, same problem.

[2018-05-29 04:34] devdinu commented on #599
@rvdwijngaard https://groups.google.com/forum/#!topic/golang-nuts/wcrZ3P1zeAk

[2018-05-31 15:35] solarfly73 commented on #605
I didn't even know about NoError(), always used require.Nil.  Anyway I tried to reproduce for fun and could not, with the following:

[code]

[2018-06-01 18:19] Groxx opened #608 "Bug: Unexpected method calls are "forgotten""
In a nutshell: this test passes, despite the expectations being incorrect:
[code]
Granted, this isn't great code.  But panic-capturing code is somewhat common in frameworks, and this can lead to tests passing despite clearly having incorrect mocks.  The fact that `AssertExpectations` doesn't match behavior seems like a bug in testify.

---

So far as I can tell, this is caused by this code below,

[2018-06-01 18:20] Groxx commented on #608
Oops.  Looks like I'm on an older one, this might be resolved now.
I'll dive through the code now / that's released and close this if so.

[2018-06-02 02:30] devdinu commented on #608
@Groxx You could do `t.Fail` or `t.Fatal` inside the `defer func` which handles panic recovery to fail the test with error.

`AssertExpectations` currently verifies whether all the expectations `On("method").Return` are met. If you're suggesting `call` to maintain state, we could but anyways the method call without expectation would panic, and hard to change existing `AssertExpectations` for this

[2018-06-03 08:46] timfeirg commented on #152
Hi guys, just checking the project status here, I made https://github.com/stretchr/testify/pull/594 a while ago but haven't managed to get any response from the project maintainers. Any advice on how I can push this forward?

BTW I noticed that @devdinu is actively engaging in recent PRs, are you still interested in becoming a member?

[2018-06-03 16:09] devdinu commented on #152
@timfeirg Yes I'm, would love to see all the PR's getting merged, and bringing down the issues, and eventually writing v2 of testify.  I wouldn't prefer/like using someone else fork, the creators needs to have it, and we need more maintainers.

[2018-06-03 16:16] timfeirg commented on #152
Good to know, perhaps you can contact some of the project members and become a maintainer yourself? @devdinu

I wouldn't know how to appropriately contact them, I don't even know how to enter https://gophers.slack.com

[2018-06-04 06:34] devdinu commented on #152
@timfeirg You can join by sending an [invite](https://invite.slack.golangbridge.org/).  You could also join #testify-dev channel so we can have informal conversation there.

I've already asked @ernesto-jimenez while back to add me and call for new maintainers, hopefully he will get it done when he's free.

[2018-06-04 10:09] R4c00n opened #609 "Method call not recognized"
When I try to assert a method call with `.On` I get the following error message when executing my tests:
`The code you are testing needs to make 1 more call(s).`

I'm using go version 1.8.7.

I made up a quick example to demonstrate my setup:

[code]

[2018-06-04 10:55] devdinu commented on #609
@R4c00n In `func (s *SomeServiceMock) DoSomethingInService() {` you 've to add
`s.Called()` which registers the call in mock, and that's verified later in `AssertExpectations`.

[2018-06-05 06:16] mwei0210 commented on #605
I solved it by specifying test to be ran on one thread

[2018-06-06 09:49] R4c00n commented on #609
@devdinu Thanks, works like a charm!

[2018-06-06 09:49] #609 closed

[2018-06-07 03:37] ramzdam opened #610 "Mocking a function from within a function"
Is there a way to achieve this? I want to Mock the response of a function call from within another function call. Example

[code]
and in my test file

[code]

I'm not sure if what I did is correct. What I'm trying to achieve is that I just want to have a Mock response of **ToMockResponse** whenever it's being called inside **TheFunction**

I have seen and read most of the tutorial but all of them

[2018-06-07 05:46] devdinu commented on #610
When its purely a function you can't do it. What you need to have is a struct injected in TheFunction (with use of struct or closure), then you can mock the response of the ToMockResponse

[code]

[2018-06-09 05:58] ramzdam commented on #610
func Something(s service) func() int {
   return func() int {
       // TheFunction implementation
       return s.ToMockResponse()
  }
}

What does this function do? Sorry kinda new with Go Lang and testify

[2018-06-09 09:29] ernesto-jimenez commented on #498
yes, those two values have different types and are intrinsically different.

[2018-06-09 09:29] #498 closed

[2018-06-09 09:30] #505 closed

[2018-06-09 10:15] ernesto-jimenez commented on #587
@devdinu how would that work?

Requiring people to use the `reflect` package on their tests sounds like would lead to messy tests.

[2018-06-09 10:17] ernesto-jimenez commented on #570
#584 would fail the following test which currently passes.

[code]

If we were to do something like this, we would need something that works with `interface` types like `error`.

[2018-06-09 10:53] ernesto-jimenez commented on #518
@nicolaiskogheim do you know about [assert.JSONEq](https://godoc.org/github.com/stretchr/testify/assert#JSONEq) ?

[2018-06-09 10:55] #518 closed

[2018-06-09 14:09] ernesto-jimenez commented on #564
@abjsaha @fkirill please, do try with the latest version of testify.

I tried to reproduce and everything works with our current version.

Closing for now, but please re-open with steps to reproduce if you still encounter it.

[code]

[code]

[2018-06-09 14:09] #564 closed

[2018-06-09 14:10] ernesto-jimenez commented on #604
@cpapidas can you provide steps to reproduce the issue?

I use `testify/mock` and `dep` in all my projects without issues.

[2018-06-09 14:13] ernesto-jimenez commented on #605
@mwei0210 cannot reproduce it with the latest version of testify. Please reopen with steps to reproduce if you still encounter the issue.

[2018-06-09 14:13] #605 closed

[2018-06-09 14:15] #610 closed

[2018-06-09 16:36] cpapidas commented on #604
1. install the lib via dep
2. try to import the testify/mock in tests file
3. cannot find the package

[2018-06-09 17:31] nicolaiskogheim commented on #518
Nope! Look nice, though, thanks!
Great that someone fixed the general issue as well.

[2018-06-10 12:06] devdinu commented on #604
I've used dep to download, and able to resolve `testify` dependency and could write tests with it.

[2018-06-13 03:50] vonzcy opened #613 "Equal different types of integers"
It would be nice if Equal is able to just return true for different types of integers with the same value without explicitly cast. Or are they any existing ways to do it?

[2018-06-13 03:51] #613 closed

[2018-06-13 12:20] timfeirg commented on #460
close this issue? @eginez

[2018-06-13 16:34] mwf opened #615 "`vgo vendor` fail"
Hi guys!

FYI I found an issue regarding vgo usage along with go-spew and testify - golang/go#25871

Any project using testify can't be vendored with `vgo vendor` command.

Could you please subscribe to it?
Maybe it's worth taking part in the discussion in case of any concerns from Go team.

Many thanks :)

[2018-06-14 06:04] ernesto-jimenez commented on #615
Hi @mwf,

That right now depends on some `vgo` fixes or us making some breaking changes. See https://github.com/stretchr/testify/pull/607

[2018-06-14 06:20] #460 closed

[2018-06-14 09:38] mwf commented on #615
Actually it doesn't depend on you, it's just a bug in vgo and they're going to fix it.

[2018-06-14 09:46] vkdive commented on #271
@dominicbarnes can you please share the solution??

[2018-06-14 20:18] jtdoepke opened #617 "Add NotFileExists and NotDirExists"
Add `NotFileExists` and `NotDirExists` assertions, reverse of #536.

[2018-06-15 09:34] mwf commented on #615
vgo is fixed, closing the issue

[2018-06-15 09:34] #615 closed

[2018-06-19 08:09] andy-miracl commented on #267
Hi, Id love to see this taken forward as well. For, complete flexibility it would be nice if you could completely specify the format of the output.

[2018-06-20 07:39] bzon commented on #316
This seems related to https://github.com/stretchr/testify/issues/119.

[2018-06-22 14:43] devdinu opened #619 "Tests are failing with go tip versions"
From go version `6b3e343408` tests started failing
https://travis-ci.org/stretchr/testify/jobs/391186749 for all PRs.

[code]

[2018-06-27 17:34] medzin commented on #604
@cpapidas did you add `testify` to the toml file with `dep ensure -add` command or did you just call the `dep ensure` command on the project? In the second case only the packages imported in your code will be downloaded.

[2018-06-27 22:53] mbeachy commented on #388
This means that simple typos can end up as passing but meaningless tests, e.g. `assert.NotEqual(case1, case2.Field)`.

What's the use case _for_ this behavior?

It would be a backwards incompatible change, but the simplest way out of this situation is to change it.

Introducing a new method (e.g. `assert.SameTypesNotEqual`) seems clunky because the most often used case should be connected with the

[2018-06-27 23:22] samkreter commented on #599
+1 on this issue. Also have cases where assert.Equal doesn't fail when two integers are not equal.

[2018-06-28 04:12] devdinu commented on #599
@samkreter Could you share the code, for us to help. Did you have `defer` function `recover()` which recovered the error.

Equal with integers would be straightforward, and should pass, guessing the integer would be a return value from a `func`, which wouldn't have met your expectation.

[2018-06-28 06:46] cpapidas commented on #604
I just call dep ensure, I think we should write it in readme.md file

[2018-06-28 16:23] samkreter commented on #599
@devdinu It was a misunderstanding on my part. I was expecting the fatal error like in the require package.

[2018-06-28 17:49] yahelmanor2 opened #624 "assert two NaN values"
when i try to assert two NaN values the assert result was
[code]
the code that genrate this error is
[code]

because the `assert.Equal` is based on `reflerct.DeepEqual` in it documentations written that two floats a,b will be equal if a == b is true.
the golang the act according IEEE 754 is defined NaN == NaN as false.
so this may need discussion about adding assert checking for NaN values.

[2018-06-29 18:24] andrewdeandrade opened #625 "race condition on master in mock"
Upgraded to master and tests that previously ran without issues now fail the race detector:

[code]

Has anyone else encountered this?

[2018-07-02 06:44] devdinu commented on #625
I'm using `go1.10 darwin/amd64` version and testify `f35b8ab0b5a2cef36673838d662e249dd9c94686` recent commit, and i don't encounter this.

It could be in specific to your code `model/modelhelpers`

[2018-07-04 12:47] xor-gate commented on #496
We could copy-paste from https://github.com/alexanderbez/godash/blob/703c92476f3a6a947b9f2792114ecf40d7ba2c6a/godash.go#L86-L127 to testify (also MIT license).

[2018-07-05 07:09] xor-gate commented on #496
We should better read the documentation. It is already there but the name is a little misleading:  https://godoc.org/github.com/stretchr/testify/assert#ElementsMatch

[2018-07-06 19:40] misterikkit opened #626 "formatUnequalValues with %v instead of %#v?"
Is there a way to get the default format when assert.Equal fails? Specifically, I am comparing time.Duration values, and getting an int64 of microseconds is not as friendly as Duration.String. ([example](https://play.golang.org/p/vA3xeX5-OEr))

I understand that the current behavior is generally more useful. Rather than changing the default, I am hoping there is some option I can invoke to make my

[2018-07-09 08:17] Crevil opened #628 "Include method name in AssertNumberOfCalls assertion message"
When using `mock.AssertNumberOfCalls` and an expectation is met, the assertion message is as follows:

[code]

If a test contains multiple assertions of this kind context is lost around what method expectation that fails. Could we include the method name in the assertion?

The method name is available so it could be an easy fix? https://github.com/stretchr/testify/blob/master/mock/mock.go#L467-L48

[2018-07-10 07:36] romanyx opened #630 "Support assert.JSONSchema"
Hi, I wonder, will JSONSchema function fit the assert package?

[2018-07-12 12:56] Mourdraug opened #632 "Assert Equals with given precision"
Is it possible to assert Equals with prcision given in for example decimal places?

[2018-07-12 21:36] afucher opened #633 "Method to check if return is a function"
I read the docs but didn't find any assertion that helps to see if a value is a function.

There is any way to do that with testify?

[2018-07-13 05:30] devdinu commented on #632
You could use `InDelta`
[code]

The signature. [InDelta Doc](https://godoc.org/github.com/stretchr/testify/assert#InDelta)

you could share the code, if its different use case.

[2018-07-13 05:32] devdinu commented on #633
You could do
[code]
If you've two variables maybe this could be of help [IsType](https://godoc.org/github.com/stretchr/testify/assert#IsType).

[2018-07-13 09:11] dennypenta opened #635 "assert.Equal shows diff that does not affect success of test"
For instance:
[code]

But that values are not a reason fail of test.

Do we need this behavior?
I got some confused with that, I could try to change it.

[2018-07-16 06:14] Mourdraug commented on #632
That's just what I needed. Thanks.

[2018-07-16 13:43] dcormier opened #636 "NotPanics failures should include the panicking stack"
If a `NotPanics` assertion fails, the test output should include the stack from the panic. This would speed up debugging. For example,

[code]

That gives you output like this:

[code]

Including the stack of the panicked goroutine would help in quickly spotting what the mistake was.

[2018-07-23 21:49] 0xdevalias opened #640 "Add NotEqualValues assertion and FailNowDiff"
Currently there is an `EqualValues` assertion, which seems good for checking structs are the same. But if I want to test the negative case (`NotEqualValues`), there doesn't seem to be a good method. It would be basically the same as the `EqualValues`, though just changing the inner check:

**From:**
[code]

**To:**
[code]

Perhaps a refactor to share the common code in an unexported method with a

[2018-07-25 18:29] zlotnika opened #641 "Standardize function parameter order"
I have noticed that the parameter ordering seems inconsistent to what I would expect. An example of this:

[code]

Notice that in `Equal`, we give first the expected value, then the actual value whereas in `Contains`, we give first the actual map, then the expected value. I'd recommend always doing test struct, then the thing you're testing, then expected value (if it's a comparison).

[2018-07-26 03:44] davidbanham commented on #83
@sashaweiss Yep, was fixed here:

https://github.com/stretchr/testify/commit/a726187e3128d0a0ec37f73ca7c4d3e508e6c2e5

[2018-07-26 19:18] zlotnika commented on #641
This makes sense to think of these tests (`Equal` and `Contains`) as not totally equivalent. I do, however, think they fall under the category of having 1 thing to test (a string that _might_ be "STATUS", a map that _might_ have an "id"), and 1 naturally hard-coded value to test for (the string "STATUS", the string "id").

The reason I'd suggest "thing to test (actual)" first would be so that `Nil

[2018-08-01 19:57] natemara opened #643 "mock: Infinite recursion deadlock if mocking String()"
This is a fairly contrived example, I admit. But this was a real head-scratcher in the wild.

The following code will never complete.

[code]

This fails because `Mock.Called` calls `Mock.MethodCalled`, which locks the Mutex, and eventually calls `Arguments.Diff`. When `Arguments.Diff` calls `fmt.Sprintf`, `fmt.Sprintf` sees the `Kay` field of `B`. Since `K` implements `fmt.Stringer`, `fmt.Sprintf

[2018-08-01 20:12] natemara commented on #643
Here's a stack trace from a debug session just before the mutex lock deadlock

[code]

[2018-08-03 15:58] bfosberry opened #644 "Panic: Equal on type aliases causes panic"
Current behaviour:

With go 1.9.3 and testify 1.2.2 or latest master (f35b8ab0b5a2cef36673838d662e249dd9c94686)  if I require/assert.Equal two aliased types, it causes testify to panic:

[code]

Expected behaviour: testify should determine if the two types are equal, or fail gracefully.

Here is a test case to replicate the issue

[code]

I don't know much about reflect, but I think it comes down

[2018-08-06 18:18] abhinav3295 opened #645 "mock.MatchedBy cannot match against context.Context, always get Unexpected Method Call"
I am trying to mock a function that has `context.Context` as an argument.
But when I use `mock.Anything` tests run fine, but on using `mock.MatchedBy` I am always getting `Unexpected Method Call`

[code]

sample project to reproduce the bug is attached.
[reproduceStrecherBug.zip](https://github.com/stretchr/testify/files/2263605/reproduceStrecherBug.zip)

[2018-08-08 18:32] SpaceHeroGuide opened #646 "require.Equal panics when using string type alias"
I'm trying to compare IDs of package github.com/graph-gophers/graphql-go. These IDs are actually just a type alias for strings:
[code]

However if these IDs are not equal, require.Equal panics:
[code]
[code]

If you change the IDs so they are equal, the panic does not occur.

[2018-08-09 13:12] devdinu commented on #646
Duplicate or Same as #644.

[2018-08-10 02:12] ArkadyB opened #647 "Mocks, would they always be the same?"
Hey,

A more general question on mocks.

Say, i implement a library (provider) that has certain interfaces exported. On consumer side i put some tests, where i need interfaces mocked.  As it goes i see mocked methods will be almost always exactly the same (is not about particular mock implementation but to ilustrate the question):

[code]
Therefore does it make sense to export mock together with t

[2018-08-10 04:46] devdinu commented on #647
If the library provides the interface, its best to have the mock provided by library,

* library interface could change (addition/deletion of methods), all the callers/consumers have to update their mocks, and code would break.
* since mock is generic, each caller could mock response according the arguments.

On the other hand, it makes sense to have mock in consumers only when you don't want to e

[2018-08-16 11:39] amitsaurav commented on #460
Is there a way to make goland recognize the individual test methods in a suite as well, so they can be run individually from inside the IDE using the green play button?

[2018-08-16 16:34] ugy opened #649 "SetupTest run remaining tests whether it fails or not"
Hi !

I might not doing my tests the right way but it seemed normal to me that if the SetupTest function fails the rest of the suite test functions shouldn't be run.

I use SetupTest to initialize a variable used in all my tests of my suite, problem is I can have an error that assign nil to this variable, I used assert.NotNil in SetupTest to check for the error before running the remaining tests b

[2018-08-21 04:17] jiwen624 commented on #173
I'm hitting on the same issue.  It seems to be the following code `Sprintf` trying to reflect the `actual`, which is also accessed concurrently by another goroutine:
`				output = fmt.Sprintf("%s\t%d: \u2705  %s == %s\n", output, i, actual, expected)`

Any idea? Thanks.

[2018-08-21 19:11] bhcleek commented on #625
I'm seeing the same thing. I created a test to show the simplest example I could come up with that demonstrates the race condition: https://github.com/stretchr/testify/compare/master...bhcleek:race-test

The race condition can be avoided in this case by adding a `io.Copy(ioutil.Discard, res.Body)` before calling `AssertExpectations`, but that shouldn't _be_ necessary and not all cases have such a

[2018-08-22 07:14] devdinu commented on #152
@ernesto-jimenez @matryer We still have issues and PR's coming up, Bumping up this again, would love to hear your thoughts and we need some actions to bring it back again.

[2018-08-22 15:04] icholy commented on #633
This would make more sense
[code]

[2018-08-23 05:21] Geod24 opened #652 "Customize require behavior to allow it to panic"
I'm using `require` extensively as I want the test to fail immediately (makes writing tests much easier).

However, the test suite would time out when I started a consumer in a goroutine, which would read a chan and check the content it receives, and produced values in my the goroutine running the test.
Turns out this quirk is documented in [`T.FailNow()`](https://golang.org/pkg/testing/#T.FailNow

[2018-08-24 09:47] mlkr commented on #624
https://github.com/stretchr/testify/issues/632#issuecomment-404729847

[2018-08-26 06:29] devdinu commented on #624
@yahelmanor2 NaN its not a number, so you can't compare those 2 values. `math.NaN() == math.NaN()` its `false`, so the assert Equal output you've got is as per expectations.

[2018-08-27 16:42] dcu commented on #625
we are seeing the same cc @gz-c @ernesto-jimenez

[2018-08-28 03:03] gz-c commented on #625
@bhcleek @dcu

Try this patch, it fixes @bhcleek 's test case at least.  Its not obvious to me why this failed with a race condition, so I don't know if this will fix it in all cases, but the original call order of `%v` formatting has been restored to the pre-race order.

https://github.com/stretchr/testify/compare/master...gz-c:fix-diff-race?expand=1

[2018-08-28 13:04] dcu commented on #625
I'm still seeing the data race:

[code]

[2018-08-28 13:37] gz-c commented on #625
@dcu Can you run the new test case from bhcleek's commit against the last commit before the breaking change was merged, 38eb60e59188bae529212c86a635c030771491ce

[2018-08-28 13:54] dcu commented on #625
I just did, even with v1.0 the race is there so it must be something else

[2018-08-28 14:41] dcu commented on #625
@andrewdeandrade can you check?

[2018-08-28 15:03] gz-c commented on #625
I think this method always raced but the race detector picked it up on more systems after my commit.  It seems that formatting arbitrary objects is unsafe due to possible race conditions.

[2018-08-29 03:09] bhcleek commented on #625
@gz-c I don't think it's about arbitrary objects, per se. Some types, especially contexts, are often written by servers, and depending on the order of operations and goroutine switching, races may be encountered.

I've run `go test -race -count=1 github.com/stretchr/testify/mock` many times on #654 without races being detected, though I suspect it could still happen. The best solution is probably

[2018-08-29 14:15] dcu commented on #625
I think the problem is more evident when mocking functions that receive a `context`

[2018-08-30 01:47] gz-c commented on #625
Specifically the race happens when *printf is called on an object which has a mutex accessible through it, and another goroutine locks or unlocks that mutex.  Other sync primitives probably have the same issue.

In these cases `http.Server`'s mutex is accessible through the related context and the race is triggered when printf's reflection finds it while the `http.Server` tries to lock or unlock i

[2018-08-30 19:34] atombender commented on #641
Now that Go 1.11 has modules and supports semver, I propose that the version is bumped to 2.0 and the API is cleaned up. It's long overdue.

Another option, because the current reliance on argument order is ambiguous, is to break up the API further into an "expect"-like API, e.g.:

[code]

[2018-09-01 16:36] itzamna314 commented on #649
Try using `require.NotNil()` to fail and abort the test.
`require` methods call [t.FailNow](https://godoc.org/testing#T.FailNow), which should abort the test.  `assert` methods call [t.Fail](https://godoc.org/testing#T.Fail), which explicitly marks the test as failed but continues execution.

[2018-09-03 10:55] logicaleak opened #656 "Allow returnArguments to be generated on the fly"
Hi,

In our code base we sometimes have functions declared as arguments in the interfaces, and these functions are run during the execution and affect the returned error from the interface function. Example:
[code]
If the function input returns an error, this will be reflected to the root error returned from `DoSomething`. This makes it rather difficult to test it with the existing tools. To compe

[2018-09-03 20:28] immesys opened #657 "require.Equal hangs"
This code hangs for me:

[code]

The code prints "pre" but never prints "post". I have no idea why

[2018-09-03 20:28] immesys commented on #505
Actually the types are a red herring for me. I submitted #657 instead

[2018-09-03 20:33] immesys commented on #657
More information: I am on f35b8ab0b5a2cef36673838d662e249dd9c94686 and it is worth noting that the following code works fine (no goroutine):

[code]

so it definitely has something to do with being on a goroutine.

[2018-09-03 20:43] immesys commented on #657
I tried bisecting but I can't find anywhere where this doesn't hang. I went back to 2016 commits and then stopped.

[2018-09-03 20:47] immesys commented on #657
Is this just user error? I notice that the golang testing.T object requires that certain functions are called from the testing goroutine itself. Does that imply that require must also only be used on the testing goroutine?

[2018-09-04 04:42] devdinu commented on #657
@immesys calling FailNow wouldn't stop other gorooutines. Its suggested to call in the actual goroutines `TestRequire` function.

But the main issue is the FailNow exits the goroutines so the cancel func never gets called, hence the main goroutine never ends waiting for `ctx.Done()`

[code]

Adding cancel as defer func at the beginning of goroutine, fixes the issue, and terminates properly.

[code

[2018-09-04 04:50] immesys commented on #657
Yep, you are completely right. User error indeed!

[2018-09-04 04:50] #657 closed

[2018-09-04 06:04] ryanmcnamara commented on #644
:+1: just hit this took a while to debug

[2018-09-04 08:38] kdomanski commented on #657
Yes, `Require` calls `FailNow`, so you're not allowed to call if from a goroutine different than the main one.

[2018-09-06 14:55] ugy commented on #649
Thank you ! I read about require and fixed my problems :)

[2018-09-06 14:55] #649 closed

[2018-09-11 10:45] alexeiaguiar opened #660 "Unknown field 'DisablePointerAddresses' in struct literal of type spew.ConfigState"
When I migrate my projects from Glide to Go modules, I get this error:
go test ./...
# github.com/stretchr/testify/assert
../../../../pkg/mod/github.com/stretchr/testify@v1.2.2/assert/assertions.go:1387:2: unknown field 'DisablePointerAddresses' in struct literal of type spew.ConfigState
../../../../pkg/mod/github.com/stretchr/testify@v1.2.2/assert/assertions.go:1388:2: unknown field 'DisableCapac

[2018-09-11 10:46] alexeiaguiar commented on #660
It's related to https://github.com/stretchr/testify/issues/574

[2018-09-11 17:19] HaraldNordgren commented on #652
@Geod24 Could you provide a minimal example reproducing this behavior?

[2018-09-11 19:17] HaraldNordgren commented on #644
Created a PR here which should solve the problem :)

https://github.com/stretchr/testify/pull/661

[2018-09-11 19:17] HaraldNordgren commented on #646
Created a PR here which should solve the problem :)

https://github.com/stretchr/testify/pull/661

[2018-09-11 21:27] HaraldNordgren commented on #635
@dennypenta Could you provide a minimal example that recreates this behavior?

[2018-09-11 21:38] HaraldNordgren opened #662 "Asserting equality on string vs. string pointer gives panic"
[code]

[2018-09-12 01:51] Geod24 commented on #652
[code]

[code]

As you can see, the test times out instead of hard failing when `require` fails

[2018-09-12 04:52] devdinu commented on #662
`panic: interface conversion: interface {} is *string, not string` The types are mismatched, so it panics, we can't compare and hence can't return a bool. what's the behaviour you expect ?

[2018-09-12 07:10] rzajac commented on #578
Sorry it took so long. The @iliacimpoes comment solves the issue.

[2018-09-12 07:10] #578 closed

[2018-09-12 12:51] HaraldNordgren commented on #662
I expect a regular error. Not a panic.

[2018-09-12 12:52] HaraldNordgren commented on #662
Besides, most type mismatches do not lead to panics. It seems to be isolated to `string` vs. `*string`. So definitely an anomaly.

[2018-09-13 18:00] yahelmanor2 commented on #624
thanks @devdinu,but there is any way I can test that value equal to `NaN` within the assert package. I know that  `assert.True(t,math.IsNaN(i))` will work but I think that it will be better if a solution will be exist within the assert package(i can open PR if needed).

[2018-09-15 11:15] HaraldNordgren commented on #468
Could be closed I think since the solution is to upgrade.

[2018-09-15 11:30] HaraldNordgren commented on #416
@ggeorgiev Which version of testify are you using? I cannot reproduce this even on v1.0 which was released in 2015.

[2018-09-15 11:40] HaraldNordgren commented on #457
@zbintliff Considering the sets are not native to Go, how would you like this implemented? Could `assert.Contains` be used instead?

[2018-09-15 17:15] HaraldNordgren commented on #383
I'm not aware of any such option. Seems like the output has changed from v2.0 so maybe this should be closed?

[2018-09-16 07:32] aeneasr commented on #383
Where can I find the `v2` version? There is no such branch nor tag.

[2018-09-16 11:47] HaraldNordgren commented on #322
Could likely be closed since #327 was merged.

[2018-09-16 12:40] HaraldNordgren commented on #152
@ernesto-jimenez Would you be interested in having more maintainers? I use testify everyday in my work.

[2018-09-16 20:07] HaraldNordgren commented on #383
@aeneasr Sorry, I meant ´v1.2´!

[2018-09-17 16:21] vrde opened #666 "Asserting equality for Dates"
I'm a bit puzzled on how `assert.Equal` works with `time.Date`. In the following example I have two dates, one created calling `time.Date` directly, the other one parsed from a string. They represent exactly the same date, time, and timezone, but `assert.Equal` fails.

[code]

[code]

As far as I understand, `assert.Equal`compares the values of the pointers, not their addresses:
https://github.com

[2018-09-18 00:48] brandonbodnar-wk commented on #666
The issue is that the `time.Date` and `time.Parse` calls, while evaluating to times that are equivenlent to each other for [func (Time) Equal](https://godoc.org/time#Time.Equal) purposes (which is location agnostic), are not actually equal referenced values, because they represent times in two different locations (same offset, but location/zone name differs). This is evident with a a few more asse

[2018-09-18 03:12] georgelesica-wf commented on #644
@HaraldNordgren could you comment on the difference between this solution and the one referenced above (https://github.com/stretchr/testify/pull/651)?

[2018-09-18 03:27] georgelesica-wf opened #667 "Add support for vgo / modules"
Now that vgo is a thing we should at least plan to support consumption in that manner.

  * https://github.com/golang/go/wiki/vgo
  * https://github.com/golang/go/wiki/Modules

[2018-09-18 03:29] georgelesica-wf opened #668 "Add CONTRIBUTING document"
We should add a file that describes how to contribute to the library. Ideally we'll use this as an opportunity to hammer out some comfortable standards for contributions and style.

[2018-09-18 05:47] xtonyjiang opened #669 "Output should say "FAIL" instead of "PASS" when a MatchedBy isn't satisfied"

[2018-09-18 07:59] HaraldNordgren commented on #644
@georgelesica-wf I'm not sure, both solutions might be equivalent. But the other solution is currently untested which is a problem for a testing library.

[2018-09-18 13:35] vrde commented on #666
@brandonbodnar-wk thanks a lot for your answer, I finally understand what's happening here :)

[2018-09-18 13:35] #666 closed

[2018-09-18 14:34] georgelesica-wf commented on #644
@HaraldNordgren agreed, thanks for looking at it. I just want to make sure that we resolve all the issues people have seen with this bit of code.

[2018-09-18 14:45] devdinu commented on #667
I could pick this up.

[2018-09-18 14:51] georgelesica-wf commented on #667
That would be great, thanks!

[2018-09-19 00:59] bodnarbm commented on #667
I believe that @leighmcculloch has a PR (#607) that they have been updating to bring in some vgo support.

[2018-09-19 01:43] leighmcculloch commented on #667
Yup #607 is it, just waiting for #657 to be merged first. Could someone merge it?

[2018-09-19 13:41] everdance opened #671 "Post request with body equal comparation bug by reflect.DeepEqual"
https://play.golang.org/p/k6oD1g_lGeQ
[code]
==>
[code]

[2018-09-19 15:42] everdance commented on #671
https://github.com/golang/go/pull/27758

[2018-09-19 21:26] brandonbodnar-wk commented on #671
Can you update the issue with more information related to what problem you are seeing in testify or your use of testify related to reflect.DeepEqual not handling function equality. Based on your linked PR, I assume there is something you are trying to accomplish with mocks that relates to this.

As was noted in the linked golang/go#27758 issue, function equality presents very tricky edge cases. It

[2018-09-20 12:39] everdance commented on #671
yup, we hit this edge case when we try to do some mock expectations on `http.Request` parameter, like
[code]
would it make sense to get around this in mock by also checking the string diff as in this PR:
https://github.com/stretchr/testify/pull/672/files
if assert.ObjectsAreEqual(expected, Anything) || assert.ObjectsAreEqual(actual, Anything) || assert.ObjectsAreEqual(actual, expected) || `diff(ex

[2018-09-20 20:14] dbemiller opened #673 "Proposal: Add support for NotJSONEq"
Testify already has support for [assert.JSONEq](https://godoc.org/github.com/stretchr/testify/assert#JSONEq).

Has there been any discussion about an `assert.NotJSONEq` function? Would you consider a PR if I submitted one?

[2018-09-20 21:00] #671 closed

[2018-09-21 12:46] raideus commented on #626
+1

I'm having the same problem

[2018-09-24 05:17] thwarted commented on #641
I don't prefer actual-expected. In the second comment, I said «I prefer "expected actual" ordering.».  To explain though, I think I prefer expected-actual order because actual is a more variable input, and I'm more comfortable with variable things at the end of argument lists (similar in idea to things like varargs always filling up the end -- obviously this isn't tantamount to "variable *number*

[2018-09-24 06:04] leighmcculloch commented on #641
@thwarted I apologise, that was a typo on my part. I meant to ask, could you elaborate why you prefer `expected-actual`.

Either way, thanks for elaborating.

---

💯 This is especially testify's strength. There are other packages that like [Ginkgo](http://onsi.github.io/ginkgo/) that offer support for rspec-like DSL `Expect(...).To(Equal(...))` and for those packages that is their strength.

---

[2018-10-02 07:56] mntlty opened #676 "ElementsMatch should ignore order for nested arrays"
ElementsMatch checks ordering in the struct fields of array elements.
This is surprising because I would expect ElementsMatch to ignore ordering for all fields, not just at the top level elements of an array.

Ex:

[code]

Running the tests:
[code]

[2018-10-02 11:32] pwfcurry opened #677 "assert.Equal panics on string pointers"
When asserting on string pointers with different values, assert.Equal will panic.

E.g.,

[code]

`Panic interface conversion: interface {} is *string, not stringgoroutine 1 [running]:`...

This caused by the following in assertions method `diff` (v1.2.2) -

[code]

An earlier deepEqual correctly dereferences both pointers, however in the diff method above the pointers are cast directly to strings

[2018-10-02 23:55] SamirTalwar commented on #677
This also happens when the `string` type is wrapped. For example:

[code]

The error message is:

[code]

[2018-10-02 23:55] SamirTalwar commented on #677
Looks like #662 is the same.

[2018-10-03 15:12] archy-bold commented on #628
We should really be able to set a message on all assertion functions. If you have a slice/map of test cases that you loop through, it's impossible to determine which test is actually firing.

[2018-10-05 04:35] hanzei commented on #677
Can you please try again with the latest master? https://github.com/stretchr/testify/commit/f2347ac6c9c98ca14694f64f92c4b917954a6dc9 got merged and might fixed this problem.

[2018-10-05 08:16] SamirTalwar commented on #677
Works great for me!

[2018-10-05 09:20] pwfcurry commented on #677
This fixes wrapped string types but not pointers to strings - same problem.

You need something along the lines of -

[code]

Although this doesn't catch all cases.

[2018-10-05 09:41] pwfcurry commented on #677
This pull request addresses the issue - https://github.com/stretchr/testify/pull/679

[2018-10-12 06:06] iampeterbanjo commented on #214
I seem to have this problem working on adding some unit tests. I have run `go get -u github.com/stretchr/testify` and I'm getting the error message

[code]

go env  >>
[code]

[2018-10-12 06:08] iampeterbanjo commented on #214
I'm working on this repo [github.com/iampeterbanjo/riffraff] so could you please clone it and try and add testify as a dependency?

[2018-10-12 06:12] iampeterbanjo commented on #214
The first time I ran it I did get this output

[code]

but I can't find the package anywhere on my machine and re-running `go get github.com/stretchr/testify` isn't doing anything.

[2018-10-12 20:35] CMogilko commented on #214
@iampeterbanjo it seems that you misunderstood go1.11 modules and old-style GOPATH. With go1.11 modules turned on GOPATH doesn't used anymore.

[2018-10-12 22:14] iampeterbanjo commented on #214
@CMogilko thanks. I had my project in $GOPATH and moving it out of there seems to have resolved the issue.

[2018-10-19 08:35] amoffat opened #684 "Assert call order?"
Hi, great project.  Is there any way to assert the order that methods were called?  What's the best way to do it?  I'm assuming it is iterating over the mock's calls, and doing something, but I am imagining that the "something" means rewriting a lot of the argument checking logic by hand :)

Thanks!

[2018-10-20 23:02] diegosanchez opened #685 "Is there a way of mocking lambdas?"
I cannot find ways of mocking lambdas on golang with `testify` though there is a way of mocking objects and their methods.

Would be desirable having the feature like this? I found useful being able to write a code like follow (the interface might be altered):

[code]

I think you got the idea. The semantic equivalent code written in java might be like listed bellow:

[code]

[2018-10-27 02:55] #619 closed

[2018-10-30 15:37] #604 closed

[2018-11-08 06:00] drdgvhbh commented on #597
Any updates on this?

[2018-11-10 01:15] Melaninneal commented on #662
its not just string and pointer missmatch it also fails on String pointer and string pointer as well! ]https://play.golang.org/p/nwMKxZeDCFr

[2018-11-19 13:07] palsivertsen commented on #267
Anyone working on this?

Output for mock assertions also needs to be changed. Right now it's a panic with hard to parse filenames:
[code]

[2018-11-21 15:18] bkielbasa commented on #624
@yahelmanor2 I think that you should do that :)

[2018-11-21 15:45] bkielbasa opened #690 "Proposal: add testing for errors when the expected error is optional"
In many cases, I have a code similar to the above

[code]
where the `testCase.expectedError` contains an instance of the `error`.
I want to write a new function which will combine those 5 lines of code into 1. For example

[code]

WDYT about the change? We can discuss the name or parameters it takes but it would help me a lot.

[2018-11-21 18:03] diegosanchez commented on #685
@ernesto-jimenez

Does it make sense for you?

[2018-11-23 09:19] eduardboamba commented on #194
TLDR; ordering tests would be a nice to have feature, but for sure not critical. One can organize tests in a suite however desired, but introducing dependency between them is an extra feature and, again, would be nice to have. I guess it is assumed by most that the definition order is respected because that's how we read the file...
Such dependency can follow a certain strategy, as also mentioned

[2018-11-24 23:29] echlebek opened #692 "mock.AnythingOfType is incompatible with type aliases"
With the advent of type aliases, `mock.AnythingOfTypeArgument` is no longer sufficient to determine type equality when implementing gradual code repair in a codebase.

The situation arises when types involved in mocking are moved to another package, and replaced with aliases to the moved types. The mock.AnythingOfType declarations will then have the wrong names, and the mocks will panic.

This pro

[2018-11-28 12:55] bkielbasa commented on #684
why do you need such a possibility?

[2018-11-28 19:04] itzamna314 opened #693 "Add support for subtests"
When using table-driven tests with `suite`, it is useful to use sub-tests to break up the `go test` output by table case.  However, `suite` doesn't provide any way to get the correct `testing.T` instance into its built-in assertions.

I've already put together a [PR](https://github.com/stretchr/testify/pull/655) to add this functionality, so I'm just creating the issue for visibility.  Please let

[2018-11-29 02:11] amoffat commented on #684
How do you check that a mock's methods were called in a specific order?  Sometimes your test is only correct if there is an ordering to events.

[2018-11-29 07:00] bkielbasa commented on #684
IMO you should check the output of the function but not how it works internally. It may lead to testing implementation which is very hard to maintain.
For example, in the library https://github.com/DATA-DOG/go-sqlmock this methodology was used and because of that, in every case you use the library, you have to add proper assertions in the same order you have in the implementation. For me - it is c

[2018-11-29 09:14] #684 closed

[2018-12-03 23:46] neilisaac commented on #423
I hit the same issue and prepared a test case for it, which I'll add here since it's a bit shorter than the original post.  @lance-burton's description above is accurate.

[code]

Assuming the following interfaces and mocks:
[code]

The race checker output is: `go test -race . -run TestConcurrentArgumentRead`
[code]

[2018-12-04 03:34] neilisaac commented on #625
I meant to reference #423 with PR #694.  This may be the same issue based on the race checker output.

[2018-12-04 18:58] YaroslavDev opened #695 "Recover in suite"
IMHO, panic in tests is not a good idea. Not only because it's hard to understand what test panicked, but panic also crashes entire test run and some tests don't even start. I think it's a good idea to isolate each test run by putting a defer/recover so that you know exactly what test caused panic and give possibility for other tests to run.

Github PR implementing this feature: https://github.com

[2018-12-05 13:54] minaevmike opened #698 "generated comments contains bad examples"
https://github.com/stretchr/testify/blob/master/assert/assertion_format.go#L95
https://godoc.org/github.com/stretchr/testify/assert#EqualValuesf

[2018-12-06 11:47] FrancoisChastel commented on #271
It can come from numerous of reason, one of those may be that you are using `.Once()` or something at the definition of your mocked function. It will specify that the mocked function should return the result only x time.

If your code using this mock is calling it more than the number of time (once in this case) defined this error will occur !

[2018-12-07 11:15] iaroslav-ciupin commented on #695
P.S.
If you want to test that some of your code panics as expected, you must explicitly put a recover in your test, catch actual panic and compare it with expected one.
IMHO,
Panic **SHOULD NOT** propagate outside scope of a test case, because in a context of testing *panic is just another type of error* that should be caught and checked.

[2018-12-10 21:59] estahn opened #700 "cannot find module providing package github.com/stretchr/testify/assert"
I have problems getting testify to work with `go mod`. Maybe someone has a hint to get that rolling.

Some simple example code: [Gist](https://gist.github.com/estahn/810d7cee89c35d9a2b739d93a8249984)

Steps to reproduce:

[code]

Error message:
[code]

[2018-12-11 01:13] danbrown1893 opened #703 "JSONEq returning error"
[code]

The above test fails stating that the JSON is not equal. I am wondering what the solution for this issue is. There is no guarantee in Go that the `included` fields will be returned in order, so from time to time, this will pass while other times it will fail.

[2018-12-11 15:14] #703 closed

[2018-12-11 15:14] danbrown1893 commented on #703
Not an issue

[2018-12-12 07:07] the729 opened #704 "assert.Subset supports map"
assert.Subset(t, {
    "k1": "v1",
    "k2": {
        "k21": "v21",
        "k22": "v22"
    }
}, {
    "k2": {
        "k22": "v22"
    }
})

[2018-12-12 18:28] georgelesica-wf opened #705 "Build is broken on Go tip"
As of https://github.com/stretchr/testify/pull/699 the CI build on Go tip appears to be broken. We should consider fixing this immediately so as to avoid blocking future pull requests or causing breakage when the next release comes out.

[2018-12-13 22:52] itzamna314 commented on #695
+1 to this.  With test suites that have some environmental setup/teardown, a panic will exit tests before the teardown can happen.  Then you've got resources you have to clean up manually.

Real-world example: I have a test suite that sets up a docker database container, then runs tests against it, and removes the container plus all volumes when everything is complete.  If I have a panic in my cod

[2018-12-17 23:00] estahn commented on #700
Related: #667 #607 #659

[2018-12-26 12:41] dennypenta opened #709 "Give permissions on project to other active developers"
If you have no time to maintain the project, what about to give active develops permission on the project?
You can bind a lint to an active fork in README.
I waited for an answer to my previous issue 2 month, I find it enough long time.
I'm seeing that 2 pull requests important for me are stacked for several months, one about naming generated mocks and one I wanna make about comparing empty slices

[2018-12-27 08:05] alexpantyukhin opened #710 "Assert value order comparison."
I have created a test collection comparisons there https://github.com/alexpantyukhin/assertord . I believe many of them are redundant but it's just for demo. Any thoughts could it be good idea to integrate that functionality into the `testify`? Also I guess it would be good to have `assert.IsGreater`, `assert.IsGreaterOrEqual`, `assert.IsLess`, `assert.IsLessOrEqual` in the `testify`.

[2018-12-30 01:54] shaunc opened #711 "doc: not clear how to test for one number less than another"
I assume I want to use `Comparison` somehow, but the documentation is quite unclear. What I want is (equivalent to):

[code]

[2019-01-01 08:02] shaunc commented on #535
This would also allow fixing issues such as:
https://github.com/stretchr/testify/issues/624

I have NaNs in structures, and want a comparison that I can use to assert equality, which I can do with go-cmp.

[2019-01-03 14:05] letientai299 commented on #709
As I'm using it for my work, I would love to be a maintainer for this project.

cc @georgelesica-wf

[2019-01-03 16:07] georgelesica-wf commented on #709
@dennypenta could you link to those pull requests here? I took over as a maintainer a couple months back, but I haven't had time to triage existing PRs and issues, I've just been reviewing and merging changes as they are brought to my attention.

@letientai299 let me think on that. I am in favor of increasing the number of maintainers, but I need to put in the time to make sure we can handle that

[2019-01-03 17:32] georgelesica-wf commented on #700
We've merged module support here: https://github.com/stretchr/testify/pull/607. Feel free to re-open if you still have issues. Note that we haven't tagged yet. That will happen soon, however.

[2019-01-03 17:32] #700 closed

[2019-01-03 17:32] georgelesica-wf commented on #693
PR merged. Closing. https://github.com/stretchr/testify/pull/655

[2019-01-03 17:32] #693 closed

[2019-01-03 17:33] georgelesica-wf commented on #667
This has been resolved in https://github.com/stretchr/testify/pull/607.

[2019-01-03 17:33] #667 closed

[2019-01-03 17:41] #669 closed

[2019-01-03 18:36] #705 closed

[2019-01-03 18:57] georgelesica-wf commented on #315
Update to the linked code... https://github.com/stretchr/testify/blob/f1df803a706ef8a5133970c1c25d429d5ae8c615/assert/assertions.go#L430

[2019-01-06 07:05] alexpantyukhin commented on #710
@georgelesica-wf I have added values comparison in this https://github.com/stretchr/testify/pull/713 PR . Could you please review?

[2019-01-08 18:01] JordanP commented on #709
Whatever is decided, please do it very carefully. A lot of people are depending on this package :)

[2019-01-10 02:41] gavincabbage commented on #597
Was looking for this today so I took a stab at it based on @littledot's suggestion

[2019-01-11 20:10] georgelesica-wf commented on #625
I'd like to see a test that can reliably fail without the fix applied in https://github.com/stretchr/testify/pull/654.

[2019-01-12 03:49] #123 closed

[2019-01-12 03:50] georgelesica-wf commented on #123
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 03:56] georgelesica-wf commented on #167
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 03:56] #167 closed

[2019-01-12 04:00] georgelesica-wf commented on #207
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 04:00] #207 closed

[2019-01-12 04:01] georgelesica-wf commented on #107
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 04:01] #107 closed

[2019-01-12 04:05] georgelesica-wf commented on #280
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 04:05] #280 closed

[2019-01-12 04:10] georgelesica-wf commented on #235
We should determine whether or not this is still the case and investigate accordingly.

[2019-01-12 04:12] georgelesica-wf commented on #314
There have been releases since this issue was updated. If this problem still exists, please re-open and provide additional details. Thanks!

[2019-01-12 04:12] #314 closed

[2019-01-12 04:13] georgelesica-wf commented on #305
Hello, my name is George. I've recently taken over maintenance of Testify and
I'm excited to help the project move forward.

In order to improve responsiveness and promote contributions to the Testify
project, I have decided to close pull requests and issues that haven't had any
activity in several months and do not appear to address critical bugs.

If you would still like to see your pull request

[2019-01-12 04:13] #305 closed

[2019-01-12 04:29] georgelesica-wf opened #715 "Update README to mention Slack channels"
We should mention both the testify and testify-dev channels on the Gophers Slack.

[2019-01-12 05:19] atombender commented on #288
@georgelesica-wf Have you considered using [Litter](https://github.com/sanity-io/litter) instead of Spew? We wrote Litter to replace Spew in our tests, as we use a lot of snapshot tests where we store results in files and compare them. Its output is more consistent and more readable, since it's basically just Go.

[2019-01-13 06:14] YaroslavDev commented on #695
Merged

[2019-01-13 06:14] #695 closed

[2019-01-18 18:37] mrnugget commented on #83
Did something change in the meantime? I'm using vim-go 1.19 and the newest version of testify and `:GoTest` results in a `FAIL` message but an empty quickfix list.

[2019-01-21 06:42] axopadyani opened #716 "How to get array of structs from Arguments"
I have an interface that has a function that returns an array of structs. How do I mock this kind of function? How do I get an array of structs from `Arguments` type?

[2019-01-21 07:21] #716 closed

[2019-01-22 21:34] kregan77 opened #718 "Specific arguments prioritized over mock.Anything"
mock.On("Foo",  mock.Anything).Return(1)
mock.On("Foo", "something specific").Return(2)

In other mocking tools it would return 2 if you passed "something specific" to Foo but with testify it returns 1 - I think specific values should be prioritized over the mock.Anything value when looking for expected calls.

[2019-01-23 19:09] hero0926 opened #719 "How Can I Test with fuction that retunrs multiple value"
Hello, I do want to make a unit test like

`assert.Panicsf(t, somethingReturnsMultipleValue(arg, arg2), "It sholud occur a panic")`

I do want to occur a panic with func which returns two more values. but I can't put a func which returns multiple values.

How can i test this kind of functions with testify?

[2019-01-29 07:55] srenatus commented on #676
🤔 I, too, would appreciate a matcher that does what ElementsMatch does in the recursive way outlined here. But I would think that keeping ElementsMatch as-is, and providing an alternative method would be a good way to go.

[2019-01-29 14:33] gomezjdaniel commented on #502
Any progress on this?

[2019-01-30 17:33] aizyurov opened #723 ".On.Result does not change result of existing Call"
I want to run a number of tests and supply different results from the same mock. Typical mocked service might be a named counter, which returns incrementing integer for each string argument.

My test fails. I am expecting that after second call to mockedService.On(...) I will get new result from the method call, but actually the previous result is returned.

[code]
A patch containing the test and

[2019-01-30 18:03] aizyurov commented on #723
Sorry, I did not notice that my patch breaks Test_Mock_Called_For_Bounded_Repeatability. Have to think more about the issue, closing for now.

[2019-01-30 18:03] #723 closed

[2019-02-09 09:05] Saluev commented on #719
Hi @hero0926,

You are using `assert.Panicsf` the wrong way. Refer to docs. The correct code would be
[code]

[2019-02-09 13:00] e11ni commented on #535
I have similar problem with floats, in my structures there are floats that cannot be compared just for `==`. Go-cmp provide approximate equality for floats.

What about this option? I can contribute to make it happen.

[2019-02-10 19:04] hero0926 commented on #719
@Saluev I was idiot a f

[2019-02-10 19:04] #719 closed

[2019-02-11 23:04] prashantgupta24 commented on #590
I also face an issue while using `"github.com/spf13/pflag"`and doing a `pflag.Parse()` in an `init()` function.

I get `unknown shorthand flag: 't' in -testify.m`. Any help would be appreciated!

[2019-02-11 23:06] prashantgupta24 commented on #590
@joosep-wm did you figure out a way to run a single method while using `parse()`?

[2019-02-15 20:08] scr-oath opened #728 "Please make a public generator for testify mocks akin to https://github.com/matryer/moq"
https://github.com/matryer/moq generates a mock from an interface which, though nice, isn't as rich a mocking language as testify (ability to just say how many times, or return what as part of test).

It would be great if testify could provide a means of generating, for instance, from:

[code]

this:

[code]

[2019-02-15 20:33] scr-oath opened #729 "Feature: Support hamcrest style matchers"
By adding one more assertion function "That", which took `t, an object, and a Matcher`, you could support hamcrest-style matching and extension of the assertions without need for PRs in this repo.

"hamcrest-style" would translate to something like the following in go:

[code]

You could make `Matcher` the same way as the hamcrest java matcher, or fit it to be more go-like, but the gist is the sam

[2019-02-15 20:40] scr-oath commented on #729
http://hamcrest.org/JavaHamcrest/tutorial

[2019-02-16 05:40] HaywardMorihara commented on #728
I agree, would be lovely to have it right in testify

_but_, until that's a reality, you could always try https://github.com/vektra/mockery. I've used it with success so far

[2019-02-16 19:56] scr-oath commented on #728
Maybe just a link to that from testify mock package godoc would do the
trick?

-SCR

Sent from my iPhone

On Feb 15, 2019, at 9:40 PM, Nathaniel Morihara <notifications@github.com>
wrote:

I agree, would be lovely to have it right in testify

*but*, until that's a reality, you could always try
https://github.com/vektra/mockery. I've used it with success so far

—
You are receiving this because you

[2019-02-18 14:54] palsivertsen opened #730 "Add PanicAssertionFunc"
There's already common function types for the following assertion groups:
* [`assert.BoolAssertionFunc`](https://pkg.go.dev/github.com/stretchr/testify/assert.BoolAssertionFunc)
* [`assert.ComparisonAssertionFunc`](https://pkg.go.dev/github.com/stretchr/testify/assert.ComparisonAssertionFunc)
* [`assert.ErrorAssertionFunc`](https://pkg.go.dev/github.com/stretchr/testify/assert.ErrorAssertionFunc)

[2019-02-19 02:39] christopinka commented on #207
I see this is closed. Would it be possible for assert.Len() to format the error output with the size numbers first and map string after? ex: Wanted size x but got size y for blah

[2019-02-19 02:43] DAddYE commented on #207
Hey George! Can you give me back the permission rights to merge pull
requests? I’d like to resume the work on this repo. Thx
On Mon, Feb 18, 2019 at 6:39 PM christopinka <notifications@github.com>
wrote:

--
DD

[2019-02-19 17:48] georgelesica-wf commented on #207
@DAddYE I don't think I have permissions to do that. If you have PRs I'd be happy to review and merge them, though.

[2019-02-19 17:49] georgelesica-wf commented on #207
@christopinka if you want to submit a pull request that makes that change I'll take a look at it. Thanks for your interest!

[2019-02-22 19:38] msorens commented on #676
ElementsMatch is behaving correctly; here is why:
What it is tasked to do is determine if an array of elements `[A1, A2, A3, ... An]` are the same as elements `[B1, B2, B3, ... Bn]` while specifically ignoring order. This is different from normal array comparison where two arrays are equal if and only if the _corresponding_ elements are the same.

Note that this is different than comparing two _se

[2019-02-28 11:19] snigle commented on #636
+1 for #720

[2019-03-07 15:40] SkinyMonkey opened #735 "panic does not stacktrace anymore"
Until recently when my code panicked I had a nice stacktrace right away to help me fix my pb.
Now I only get a useless "suite.go:61: test panicked: ..."
and i have to manually add a recover handler to display it.

Did anything change recently?

[2019-03-07 20:56] Crevil opened #736 "Remove unmaintained dependency go-difflib"
The package `github.com/pmezard/go-difflib` is as of this commit no longer maintained: https://github.com/pmezard/go-difflib/commit/1ef1646f464bff6853dfa4c32750886762dc023a

Maybe we could move the used functionality into this repo and stop depending on the `difflib` package all together?

The functions used are [`difflib.GetUnifiedDiffString()`](https://github.com/pmezard/go-difflib/blob/5d4384ee

[2019-03-08 20:50] iliapolo commented on #735
@SkinyMonkey how exactly did you add a "recover handler" to display the stacktrace? im new to Go and haven't been able to get it right.

Can you share the code? hopefully a maintainer will address this issue soon because this is very frustrating indeed.

[2019-03-10 10:58] Azuka commented on #735
Likely needs #720 to be merged in.

[2019-03-11 09:05] mbana commented on #535
Any news on this?

[2019-03-11 16:38] isaiah commented on #735
It's fixed in master https://github.com/stretchr/testify/blob/master/suite/suite.go#L62
If you use go modules, you can pin to v1.2.0 for now.

[2019-03-11 20:54] bencampbell-wf opened #738 "Confirm code generation during CI"
https://github.com/stretchr/testify/pull/734 was introduced to regenerate code that should have been included in the preceding PR. The repo CI should confirm any generated code is committed before passing to ensure this doesn't happen again.

[2019-03-12 05:15] iliapolo commented on #735
@isaiah @Azuka Thanks :)

[2019-03-13 08:41] devdinu commented on #730
There's a function to test whether given function panics.
[code]

This could be of your interest https://godoc.org/github.com/stretchr/testify/assert#Panics.

[2019-03-16 22:23] ollien commented on #711
For those who find this when googling (like I was), while `master` _does_ include assertions for this, it is not present in the current release (1.3.0). The documentation reflects` master`, rather than the current release.

[2019-03-17 00:13] ollien opened #739 "Combining AssertNotCalled with Once does not fail"
Given the following method under test

[code]

I wanted to ensure that `Read` was called only once. With this in mind I set up the following test, utilizing a mock.

[code]

That `reader.AssertNotCalled` was a typo, and was not intended to be there. However, this still passes if you run `go test`.

Obviously, this is a toy example. I ran into this bug when asserting a list of methods were not call

[2019-03-17 00:31] ollien commented on #739
Sorry, this is on me. I needed a `mock.Anything` on the `AssertNotCalled` i.e. `reader.AssertNotCalled(t, "Read", mock.Anything)`. Sorry to clutter up the issue tracker.

[2019-03-17 00:31] #739 closed

[2019-03-19 14:03] palsivertsen commented on #730
Yes, that's one of the functions that will match the `PanicAssertionFunc` signature. If you look at the examples for [BoolAssertionFunc](https://godoc.org/github.com/stretchr/testify/assert#example-BoolAssertionFunc), [ComparisonAssertionFunc](https://godoc.org/github.com/stretchr/testify/assert#example-ComparisonAssertionFunc), [ErrorAssertionFunc](https://godoc.org/github.com/stretchr/testify/as

[2019-03-20 14:19] bmuschko opened #740 "Introduce negated functions to FileExists and DirExists assertions"
The `FileExists` and `DirExists` assertions help a lot. Sometimes you want to assert the opposite:

- This file should not exist.
- This directory should not exist.

I'd love to see functions like `FileNotExists` and `DirNotExists` as you otherwise have to build them yourself. Would you accept a pull request for such functionality? Happy to create one.

[2019-03-21 08:47] ran-berenfeld commented on #684
IMO there are cases to enforce order. i.e if you mock a mutex, you better check that Lock was always called before Unlock. We can have a simple implementation where the mock has an "assertExpectationsInOrder" true/false flag that can be set before any expectations are added.

[2019-03-21 08:48] ran-berenfeld opened #741 "assert mock calls in order"

[2019-03-22 19:43] hqhs commented on #456
@natdm could you please provide an example? I have troubles trying to fix this.

[2019-03-22 23:47] rndstr opened #743 "Assertion for matching YAML"
Same as `JSONEq()`, a `YAMLEq()` would be useful to have.

[2019-03-23 01:53] ghostsquad opened #744 "Mock methods/fields should be very unique"
I feel like the only problem with `mock.Mock` is that it contains methods that my actual object might contain. The following fields/methods cannot be part of the mocked object:

* `ExpectedCalls`
* `Calls`

[2019-03-24 20:39] kolaente opened #745 "Cannot install testify using go mod"
Hi, I tried to install testify using `go get github.com/stretchr/testify` inside a library which uses `go mod`. This works fine, testify is added to the `go.mod` and `go.sum` files.
But, an entry containing `gopkg.in/check.v1` is added to the `go.sum` file. This also happens when I delete the `go.mod` and `go.sum` files and start again (`go mod init` and so on).

However, when I try to reference t

[2019-03-27 10:10] olofwalker commented on #745
I'm seeing this as well....

[2019-03-27 22:01] taiyangc opened #746 "Diff is empty when lines are too long"
On `assert.Equal` failures, if the diff has long lines (due to complicated structs), instead of showing something like

[code]

Currently the diff is completely cut off

[code]

This makes testing hard to check which lines differed.

Upon inspecting, indentation formatting of diff lines is using [bufio.Scanner](https://golang.org/pkg/bufio/#Scanner) which has a default MaxScanTokenSize (64K) and w

[2019-03-28 00:04] decentralisedkev opened #747 "Possible Bug with assert"
https://play.golang.org/p/vuatAwQZ7s8

When the following code is ran in the playground, the correct results are printed out.

The main function and failing tests have been included in the playground link.

[2019-03-29 17:52] Naatan opened #748 "mock.On should be able to return input args"
I'd like to be able to use the input arguments that were sent to a mocked function in the response. Sadly this does not appear to be possible because .On() takes a static response. It would be good if there was a version of `.On()` that uses a callback response.

[2019-04-01 23:56] HaywardMorihara commented on #748
I'm not sure what exactly you need, but I found that this worked for me when I needed something that sounds similar to what you need:

[code]

[2019-04-02 13:05] Emptyfruit opened #749 "PanicsWithValue() should use equality, not =="
Panic with Error instead of string is a valid practice. Asserting the value of a panic using `!=` is not ok, because it results in a funny, but annoying test fails.

Example of a fail
[code]

The causing code (assertions.go:952):
[code]

[2019-04-02 13:14] Emptyfruit commented on #749
I think build-in error interface is common enough to have a special treatment in terms of panics in this library. Otherwise, some PanicsWithValue.. method with a callback function on recovered message could also work.

[2019-04-02 15:21] Naatan commented on #748
I did not realize you could pass a function like that, thank you @HaywardMorihara !

[2019-04-02 15:21] #748 closed

[2019-04-02 18:50] zachmu commented on #480
I'm seeing the same behavior. This is a bug in testify, whether it's caused by testify code or indirectly by the dependency on spew. I've filed an issue with spew, since I can reproduce it independent of testify's usage:

https://github.com/davecgh/go-spew/issues/108

[2019-04-08 13:05] DennisMao commented on #275
Now it's  the  `assert.ElementsMatch(t, expectedSlice, actualSlice)`

[2019-04-09 18:24] zachmu commented on #632
Is there a version of InDelta that works with structs? If I want to compare two structs that have float fields, what's my best option?

[2019-04-09 23:58] zachmu commented on #632
Looks like my best option is to use go-cmp, as in https://github.com/stretchr/testify/issues/535

It's pretty straightforward to mix testify asserts with go-cmp methods, although you lose a little expressiveness and there's some boilerplate.

[2019-04-10 21:35] andremarianiello commented on #624
This NaN comparison logic, though not necessarily this function, would be useful to have when comparing deeply nested structs and slices. For example, if I expected to get a slice `[0.0, NaN, 8.0]` there is nothing I can do (that I know of) except loop through elements.

[2019-04-11 10:43] gchaincl opened #750 "Assert multiple errors at once"
A pattern that I've found pretty common when writing tests is to call many functions that return an error:
[code]

How feasible would it be to have `func NoErrors(t TestingT, errs ...error) bool` so that we can
[code]

In my head, the naive implementation would look like:
[code]

We would lose the possibility to annotate the errors, but we would gain readability when writing the tests.

[2019-04-16 14:03] vbmade2000 opened #751 "Test if functions are called"
I am new to Golang and trying testify for the first time. I have following code to test.
[code]
To test above code I'll have a list of functions and add them to `AddToPagerFuncs` list. After that I'll call a function `AddToManager` with mock `Pager`. Now I want to verify that all the functions I added to list are called once. Any guidance how to do that using testify ?

[2019-04-17 01:31] prologic commented on #599
I also experience this as well from time to time.

Example:

[code]

Is the issue at hand here some libraries returning a pointer to an error?

[2019-04-17 01:33] prologic commented on #599
In my case the `&url.Erorr` is coming form the `net/http.Client{}` And the documentation says:

[2019-04-17 01:45] prologic commented on #599
https://github.com/stretchr/testify/issues/311 looks related here but its unclear to me why I still run into this :/

[2019-04-17 02:00] prologic commented on #599
This is really weird; I can't seem to reproduce this in any way that I *think* is what's going on here;

Take for example:

`foo_test.go`:

[code]

And `$ go test -v .`:

[code]

This *works* as expected. Mystery continues...

[2019-04-17 03:34] HaywardMorihara commented on #751
What do the functions do with the mock Pagers?

I think one approach would be to have these AddToPagerFuncs actually be methods that are part of an interface. Then you can mock the interface and assert that is was called (https://godoc.org/github.com/stretchr/testify/mock#Mock.AssertCalled) or something like that.

Idk how familiar you are with mocking, https://godoc.org/github.com/stretchr/testif

[2019-04-17 09:19] vbmade2000 commented on #751
@HaywardMorihara Thanks for reply.

Does it matter ? Say one function gets total page count, another stores same in db. Just an example.

I am familiar with mocking but I have used mocking in Python only and not in Golang and so I don't find Golang mock as intuitive as Python's one.

I checked https://godoc.org/github.com/stretchr/testify/mock but mock is used in `struct`. I checked few other simi

[2019-04-18 01:52] HaywardMorihara commented on #751
I asked because depending on how the AddToPagerFuncs interact with the Pagers, maybe you could verify that something in the Pager is called, because that would be mockable.

I don't think that you can mock plain functions with testify mocks, only interfaces.

I'm not sure exactly what you're trying to verify with this test, but I would think you could manually create some "mock" functions that cou

[2019-04-19 04:53] mikenicholson opened #752 "Unexpected matches by Argument.Diff"
I'm seeing unexpected behavior in mock call matching that is resulting in the way Arguments.Diff() compares objects.  If I have something like:

[code]

I expect `mockDetector` to return `false` when passed `honeyBadger` and `true` when passed Snake.  Instead, I see true for both.  If I switched the order I set up the expectations it would return false for both.

I can trace this down to an issue

[2019-04-19 14:32] mikenicholson commented on #752
More unexpected behavior related to the same root cause:

[code]

In this case, the fact that underlying equality checks default to something other than Go's definition of equality isn't called out in the documentation for more complex methods like `assert.Contains`.

The documentation is clear for `assert.Equal()` and an alternative to get the standard golang behavior (`assert.Same()`) is present

[2019-04-24 14:48] StandoffVenus opened #755 "Missing Wrappers Via dep ensure Installation"
The wrappers add in commit [34c6fa2dc70986bccbbffcc6130f6920a924b075](https://github.com/stretchr/testify/commit/34c6fa2dc70986bccbbffcc6130f6920a924b075) - Greater, GreaterOrEqual, Less, LessOrEqual and Same - are not available after running `dep ensure`.

[code]

[2019-04-24 21:14] ghostsquad opened #756 "V Next?"
It looks like that last release was a few months ago, and there's so new code (reflected in godoc too), like `Greater` that is not yet available. Any plans on tagging a new version?

[2019-04-25 19:36] AdamSLevy opened #757 "go mod inconsistencies"
When updating this package using `go get -u github.com/stretchr/testify` the following is added to the `go.mod` file:

[code]

The indirect dependency is surprising because the go.mod file declared by testify uses objx v0.1.0

More odd is that after running `go mod tidy` I get the following:

[code]

I would like to see this repo's go.mod file to be updated using `go mod tidy` so that this indirec

[2019-04-27 01:15] evie404 opened #758 "Support protobuf equality"
There's a subtle issue when using assertions with protobuf structs, because protobuf structs contain internal fields that should be ignored during assertions.

- https://groups.google.com/forum/#!topic/golang-nuts/F5xFHTfwRnY

I think it'd be nice for testify to support this. Particularly, we can add this line in `ObjectsAreEqual` to check if both objects are protobuf messages, and if so, `proto.E

[2019-04-29 02:25] ghostsquad opened #759 "Assert slices equal (including order)"
Is there any existing method for asserting slices are equal (including order)?

[2019-04-30 05:48] Kerptastic commented on #610
@ramzdam did you find a suitable solution based on @devdinu response? I am having a similar issue and from a design perspective, don't know how to cleanly wrap initializer functions in an interface/struct.

So I have an initializer, that returns an instance that inherently implements a MongoDatabase interface.

[code]
And I am trying to test this function using mocks...
[code]
Maybe my approach is

[2019-04-30 06:16] Kerptastic commented on #610
I guess what I could do, is move the call to `ds.NewMongoDatabaseBasic()` and pass in the instance of the interface. Would abstract out the creation, and allow passing in different implementations, just feels like a bit of overkill.

Another option I considered was creating a DatabaseFactory interface, and pass the factory in.

[code]

I would then be able to mock the factory to return my mocked d

[2019-04-30 09:02] qiudesong commented on #745
me too ...

[2019-05-01 17:45] weijinw commented on #599
Got the same behaviors, any workaround or fix for this.

[2019-05-02 22:29] elliotchance opened #761 "[solved] Show stats at the end of the test suite"
I was looking for a way to show test and assertion stats at the end of the test suite, so I created this simple package:

https://github.com/elliotchance/testify-stats

It would be great to have this built in, such:

[code]

Is this something the testify is interested in for a PR?

[2019-05-03 17:23] SkinyMonkey commented on #735
I'm at 1.3.0 and still have the problem :/
Is it back?

[2019-05-07 19:26] kolaente commented on #745
Looks like [this stackoverflow question](https://stackoverflow.com/questions/52050146/go-build-keeps-complaining-that-go-mod-has-post-v0-module-path) pretty much sums the problem up. The problem for me here is I can't update any of my dependencies since go will complain about `github.com/stretchr/testify` and stop everything.

It looks like go is expecting the package in `v1` in a path like `githu

[2019-05-07 20:31] MaerF0x0 opened #762 "require.NoError does not work for given example"
viewing https://godoc.org/github.com/stretchr/testify/require#Assertions.NoError

gives the example
[code]

but require.NoError does not return a value .

IMO it should return a bool to match assert.NoError

let me know if you want a PR to fix.

[2019-05-08 17:23] pkaeding opened #763 "InEpsilonSlice doesn't print the message"
`InEpsilonSlice` is implemented as a series of [calls to `InEpsilon`](https://github.com/stretchr/testify/blob/master/assert/assertions.go#L1173) (which is not unexpected), but when it calls `InEpsilon`, it does not pass the `msgAndArgs ...interface{}`. As a result, the failures are not very helpful, because the default output of `InEpsilon` only tells the relative error, not the expected & actual

[2019-05-09 03:19] xwjdsh opened #764 "recover in subtests"
[code]

For the above snippet, it panics in subtest and does not enter the `TearDownSuite`, should we add `failOnPanic` in the subtests? like this:

[code]

[2019-05-09 09:27] XSAM commented on #735
master: https://github.com/stretchr/testify/blob/master/suite/suite.go#L62
v1.3.0: https://github.com/stretchr/testify/blob/v1.3.0/suite/suite.go#L61

This code which prints stack still not been merged at `v1.3.0`

[2019-05-09 12:05] ernesto-alvarado commented on #350
Almost any other mocking framework (even some golang ones) allows for this, what is the problem of having it also in this one?

[2019-05-10 07:30] rickypai commented on #758
we've been using a fork in case interested parties want to try it out: https://github.com/vsco/testify/commit/d23661d7605ef4d6951b987c000a46be0b9ad548

[2019-05-13 20:22] rf commented on #735
Can we get this in a release? It's kind of a big deal that I don't get stack traces from panic in tests.

[2019-05-13 22:53] kshitij8 commented on #423
@georgelesica-wf
Can you please check this out?
This issue and corresponding PR seem to have a consistent repro and fix.
The consistent repro is very similar to what I'm stumbling in my codebase (nested mocks across go routines)

Note: This repro doesn't seem to be fixed with the patch proposed in: https://github.com/stretchr/testify/pull/654/commits/365386cb02c44b632277e859d737c3456b1630a2

[2019-05-13 23:24] georgelesica-wf commented on #423
Sure, I'll take a look this evening or tomorrow morning.

On Mon, May 13, 2019, 16:53 Kshitij Gupta <notifications@github.com> wrote:

[2019-05-15 23:55] glesica commented on #423
@kshitij8 would you mind confirming that the PR [here](https://github.com/stretchr/testify/pull/694) fixes the issue you're having? A quick comment on the PR would be super helpful. Thanks!

[2019-05-15 23:55] glesica commented on #625
It sounds like we've got a reliable fix for this issue [here](https://github.com/stretchr/testify/pull/694). Anyone who is still having trouble, would you mind testing that PR and commenting if it helps? Thanks!

[2019-05-16 15:57] funny-falcon-at-joomcode opened #766 "call to testing.T.Helper() slows down execution"
Currently every assertion function calls to `testing.T.Helper()` unconditionally.
`testing.T.Helper()` collects function name from stack trace, and it is quite expensive operation.
And go 1.12 collects traces even slower than go 1.11, therefore tests became to be slower.

There is no need to call `testing.T.Helper()` if assertion is satisfied, therefore I propose to move call to `Helper` to failin

[2019-05-18 09:01] kandros commented on #711
You can use `assert.Less`

[code]

[doc here](https://godoc.org/github.com/stretchr/testify/assert#Less)

[2019-05-18 19:56] ollien commented on #711
@kandros This is not present in the current release, only in master.

[2019-05-19 07:34] fcostin commented on #755
currently, the latest release is v 1.3.0 which does not contain the above mentioned commit 34c6fa2dc70986bccbbffcc6130f6920a924b075

see: https://github.com/stretchr/testify/commits/v1.3.0

I think what is confusing here is that the godoc documentation appears to be generated from HEAD of master, which contains patches that are not included in the latest released version (tagged v1.3.0)

https://g

[2019-05-22 09:19] qudongfang opened #770 "blocked when ftp client try to connect to a no-return tcp server"
If the server is not returning something.
It blocks when the client tries to read something(`StatusReady`) from the server after the tcp connect is done.

https://github.com/jlaffaye/ftp/blob/8f5b34ce006f202b0a67111d675395f44fd94d21/ftp.go#L120

One simple example:
`ftp www.google.com 80`

[2019-05-22 09:23] #770 closed

[2019-05-23 06:20] letientai299 commented on #709
@georgelesica-wf do you have any decision about adding me as a new maintainer yet? There's a lot of incoming issues and PR that I can help.

[2019-05-23 06:56] sarathsp06 commented on #275
@DennisMao is there a way to do the same in `Mock.On`

[2019-05-23 19:45] borgstrom commented on #182
FWIW, for future readers of this issue, here's the work around I've been using for comparing function "equality":

[code]

[2019-05-24 16:03] Naatan opened #771 "Suite Panics have in correct trace"
When a panic occurs I'm seeing the following error:

```suite.go:61: test panicked: runtime error: invalid memory address or nil pointer dereference```

suite.go does not exist anywhere in my project, I'm not sure where it's coming from. If I have multiple panics they all show this file and line number.

My test suite struct itself inherits from an intermediary test suite which in turn inherits fr

[2019-05-24 17:26] trivigy opened #772 "How to handle failed expectations inside of a goroutine?"
I found some conversations about this topic but could not find any workarounds for this issue. If anyone knows I would greatly appreciate the help. Basically I simply want to fail an entire test from within a goroutine running inside of the test. Is there a way to do that and if so how do I do that?

[2019-05-28 03:00] yahudev commented on #735
Any update on this?

[2019-05-28 15:05] Linesmerrill commented on #502
We just used `go-cmp` to do a basic comparison check. Would be nice to have this baked into the assertion library though. 😉 https://godoc.org/github.com/google/go-cmp/cmp

[2019-05-28 19:40] karthikraobr commented on #625
I tested both #654 and #694 and still get a race condition.

`==================
WARNING: DATA RACE
Write at 0x00c0000f1978 by goroutine 56:
  github.com/org/repo/vendor/github.com/99designs/gqlgen/graphql.(*RequestContext).Error()
      /Users/krao/workspace/src/github.com/org/repo/vendor/github.com/99designs/gqlgen/graphql/context.go:169 +0x192
  github.com/org/repo/internal/handlers/graphql.(*e

[2019-05-28 21:25] machinae commented on #735
This is already in master. As a workaround, upgrade to the master version:

`go get github.com/stretchr/testify@master`

[2019-05-30 20:19] MaxInertia commented on #766
I just switched our tests from the standard `func TestX(t *testing.T)` to testify suites `func (suite *MyTestSuite) TestX()` and noticed the tests are taking considerably longer. If this is the source of that increased time it would be excellent to have this changed.

[2019-05-30 23:37] mochadwi commented on #31
Up, same with me

[2019-06-02 11:48] lcd1232 commented on #535
Any updates?

[2019-06-04 22:17] kshitij8 commented on #625
Unfortunately, that's consistent with my experience with my codebase as well.

[2019-06-05 01:29] ecbaldwin commented on #741
There are also cases where order does not, and should not matter. I have test cases which will break if the order is preserved in a future release without the test code having to change in some way to say that order is important.

[2019-06-06 18:33] mediocregopher opened #773 "assert.Equal behavior different between errors and golang.org/x/xerrors packages"
The `golang.org/x/xerrors` package is intended to be a drop-in replacement of the builtin `errors`, and the code in it will become the new `errors` package in go 1.13 (if my understanding is correct). However, `assert.Equal` behaves differently between them:

[code]

Outputs:
[code]

This is making it difficult to port over to the new package. I'm curious if assert is doing some special logic for

[2019-06-11 03:57] collinmsn opened #774 "mechanism to support cache result for test case"
It's desirable to have mechanism to support skip succeed test cases when rerun all the test cases with the same git commit. Could  testify leverage BeforeTest with a return bool to indicate if case should be skipped and AfterTest with a result to indicate if the case is passed?

[2019-06-14 16:43] piepmatz commented on #466
The same problem applies to parallel subtests: `TearDownTest()` is run before the test is completed.

[2019-06-17 09:22] trungtvq commented on #599
![image](https://user-images.githubusercontent.com/40919061/59593334-f0b44000-911b-11e9-8b45-f0b8ab7c85b9.png)
you have to add this line for multi assert:
  assert := assert.New(t)

[2019-06-17 14:59] marcel commented on #771
I am not doing any unusual embedding with intermediary test suites. This is a regression.

`go version go1.12.6 darwin/amd64`

A quick (noisy) work-around:

[code]

[2019-06-18 20:40] charlessachet commented on #387
is there any update for that issue?

[2019-06-20 14:34] marcel commented on #771
Looks like this was fixed months ago. It just hasn't been released yet. Though it's in master: https://github.com/stretchr/testify/commit/10a9f474263e7c93475ac7aa9f2661449fc45cb3

[2019-06-25 16:22] richardlt opened #776 "Issue with assertion path when using require package"
Hi,

I found something strange when using the 'require' package, in fact the same problem occurs when using the 'assert' package but not directly in a test func.
I created an example in Go playground: https://play.golang.org/p/jIGjXEWD_z1
As you can see there are two test funcs one is using 'assert' and the other 'require'.
If you run this code you will see that for the test that used require, the

[2019-06-25 20:58] xordspar0 commented on #759
The normal `assert.Equal` method does this. Try it out:

[code]

If you want to *ignore* order, there's a special method for that: `assert.ElementsMatch`

[2019-06-26 07:18] tebeka opened #777 "Record & possibly report number of assertions per test/run"
It'll be nice to know if *any* assertions/checks (e.g. `assert.Equal`, `assert.NoError` ...) were called during test/suite.

I *guess* the changes will be
- Add a counter for each test
- Add an API to report number of asserts per test/suite

Any opinions?

[2019-06-27 17:59] jeffatgametime opened #778 "`assert.Same` is valuable and should be released"
We love this package! But we don't love requiring constraining our dependencies to branches. Just wondering when you'll be releasing the commit below which contains the `assert.Same` assertion?

https://github.com/stretchr/testify/commit/21cb1c2932a2d04c6792d5ad106243c6e36a3a7d

Keep up the good work.

[2019-06-28 09:09] vespian commented on #387
Ping?

[2019-06-30 21:01] temoto commented on #762
@MaerF0x0 basically `require.X = if !assert.X(...) { t.FailNow() }` which ends test. It can't possibly return anything. I was confused about async documentation at first. You can easily tell it's just an unfortunate implication of `require` code being fully generated from `assert` code, including comments.

[2019-07-02 19:12] smoyer64 commented on #473
I found this issue as I was about to suggest that ``testify`` support ``assume`` in addition to ``assert`` and ``require``.  Coming from the Java world, the two major assertion libraries I'm familiar with have somewhat parallel assumptions.

The idea behind assumptions is that in some cases, you want to conditionally skip a test (instead of outright failing it) as described in this issue.  Since t

[2019-07-04 00:54] rbtcollins commented on #645
Perhaps this bug should get closed?

[2019-07-04 04:09] #645 closed

[2019-07-04 04:37] abhinav3295 commented on #645
Thnaks!

[2019-07-04 13:15] halleknast commented on #778
+1 Should also close #597.

[2019-07-05 11:51] nineinchnick opened #779 "doc: typos and errors in Less/LessOrEqual"
`GreaterOrEqual` has the comment:

`LessOrEqual` comment was copied from `GreaterOrEqual` so it's in reverse.

[2019-07-05 11:51] nineinchnick commented on #779
Already addressed by #769

[2019-07-05 11:59] nineinchnick opened #780 "Cannot compare order of time.Duration"
`Less` and `Greater` asserts (and their variants) use reflection and type assertion to later get the value. `time.Duration` is an alias for `int64`, but type assertion for `int64` fails.

`reflect.ValueOf(e1).Int()` should be used instead. It would be even better to add a special case for `time.Duration` before falling back to reflection to have nicer error formatting since `fmt.Sprintf` handles `

[2019-07-10 08:37] AntonStoeckl opened #782 "mock: AssertExpectations - disable log output for "pass""
Currently there is no way to silence AssertExpectations if all expectations pass.
I find this output "PASS: ....." quite annoying and superfluous.
I assume most people are only interested in failures but don't need output of every passing assertion. It also seems inconsistent with other Assert... methods, which don't report success, only failure.

If this would be my userland code, I'd simply remo

[2019-07-10 09:53] nineinchnick commented on #780
Would do a PR but waiting for !733 since it removes lots of code duplication this would need to touch.

[2019-07-10 09:54] #779 closed

[2019-07-11 08:44] shaneHowearth commented on #747
So, I copied the code from the playground into a main.go and main_test.go, with the tests split off. I renamed the test functions such that I have TestRemove, TestRemoveOne, TestRemoveTwo. All the tests pass.

$ go version
go version go1.11 linux/amd64
$ go test -v
=== RUN   TestRemove
--- PASS: TestRemove (0.00s)
=== RUN   TestRemoveOne
--- PASS: TestRemoveOne (0.00s)
=== RUN   TestRemoveTwo
map[

[2019-07-11 16:29] decentralisedkev commented on #747
Strange. I can only assume it was something to do with my machine. Since this seems to only have effected me in the past(not available to check right now), I will close this issue.

[2019-07-11 16:29] #747 closed

[2019-07-11 23:50] #743 closed

[2019-07-16 11:25] dmirogin commented on #710
This issue can be closed because of https://github.com/stretchr/testify/pull/713

[2019-07-17 11:17] hsyed commented on #778
Please release this.

[2019-07-17 11:20] hsyed opened #784 "add "NotSame""
We need a negative for the `Same` assertion

[2019-07-19 15:07] serbrech commented on #599
`assert := require.New(t)`

there... you'll get the *expected* behavior ;)

[2019-07-20 02:53] ghostsquad commented on #599
to be clear, the expected behavior is that the test immediately stops if the assert fails?

[2019-07-20 08:02] serbrech commented on #599
@ghostsquad
That’s what this thread is about, people who got confused why their tests did not fail. I think that’s because in most other languages, assert libraries will fail the test right away, because you don’t write tests with loops.

[2019-07-20 16:40] ghostsquad commented on #599
I like the ability to see multiple failures at once, but it can be a little confusing. I think the README should just be updated to make this very clear, and provide a description of how to get this desired behavior.

[2019-07-21 07:52] creasty commented on #599
Well, this is obviously a bad design.

Not only for this reason, but also for the fact that `NotNil` being the only function that behaves differently and inconsistently from the other functions.

Here's my suggestions:

1. Keep the behavior and rename the function for the sake of clarity. (e.g., `WarnIfNil`)
2. Implement the `NotNil` in the way most people expect.
3. Change the behavior of `NotNil

[2019-07-21 08:31] ghostsquad commented on #599
@serbrech @creasty is it true that this is the only function that doesn't immediately fail the test? I thought it was all functions.

Assuming that I'm correct, in that _all functions_ operate this way, there should probably be a second set of functions that immediately fail the test when the assertion is not met.

I think using "Must" is probably the right lingo.

[code]

This maintains backward

[2019-07-21 09:27] serbrech commented on #599
@ghostsquad That’s what the require package is for.

[2019-07-24 20:16] boyan-soubachov commented on #784
I'll quickly do a PR for this.

[2019-07-24 20:54] boyan-soubachov commented on #784
PR: https://github.com/stretchr/testify/pull/792

[2019-07-26 12:33] RmbRT opened #794 "didPanic does not detect panic(nil)"
This is because you use `recover() != nil` to detect whether a panic  occurred.
I have opened PR  #793 to fix this.

[2019-07-26 13:40] dennypenta opened #795 "Make possible override assertion implementation"
For example:
- make it as require.Assertions instead of default Assertions.

I guess I can implement it if you ok with that idea.

[2019-07-29 08:12] sarathsp06 opened #797 "mock.Call: panic in testify/mock"
There is no method to mock panic in testfy/mock . I have added a method `.Panic` to do the same with following behaviour

Panic mocks a function call that panics with the specified message

## Usage:
       c := mockedService.
		On("TheExampleMethod", "A", "B", true).
		Panic("panic message for example method")

The above mocked service would panic with message `panic message for example method`

[2019-08-02 12:28] dergus opened #798 "Allow passing argument check function to mock.On()"
There are times when you can't know exactly what will be values of some struct fields when mocked function gets called. Current solution is to use mock.AnythingOfType() but it makes tests weaker.
I propose to allow passing function to mock.On() method which then would receive and check arguments of called function.
Something like that:
[code]

[2019-08-03 06:34] olvlvl opened #800 "Setting expectation that a method is not called"
Hi,

Is there a way to set an expectation that a method has not been called, that I can assert using `AssertExpectations`? This is how I would do it in PHP:

[code]

Currently, `AssertExceptations` only checks for expected calls, could we extend it to check for unexpected calls too? Since `On` assumes expected calls, maybe we could have a `Never` counterpart?

[code]

[2019-08-03 07:01] olvlvl commented on #800
Actually, the PHP equivalent returns `null` for unspecified calls, whereas Testify fails the test, so all is good!

[code]

[2019-08-03 07:01] #800 closed

[2019-08-04 13:04] devdinu commented on #800
FYI, To verify a method is not called

[code]

[2019-08-05 06:12] olvlvl commented on #800
Thanks @devdinu, I noticed this one but I wanted to set an expectation that I could verify with `AssertExpectations`. Turns out I don't need to because contrary to PHP/Propecy, Testify will complain about unexpected calls by default, and that's what I want.

[2019-08-09 16:21] falzm opened #801 "New release?"
Hi,

It's been quite a long time since the [last stable release](https://github.com/stretchr/testify/releases/tag/v1.3.0) (> 6 months), and there are some very useful assertions that have been merged into master – I for one am particularly interested in comparisons, as implemented in 3f658bd5ac42cc0b5de5b427e95a480d5726ea76. Could you please consider releasing a new tagged version? It's really fru

[2019-08-12 12:30] georgelesica-wf commented on #801
Good call. I've been pretty busy but I'll do my best to get a release out in the next couple days.

[2019-08-14 06:58] chungryan commented on #784
+1

[2019-08-14 08:32] csmadhav commented on #350
I am also stuck here, I am trying to test a function which tries to push to the queue and tries 5 times, I want the mocked queue to return error first 3 times and success just after that. how can we achieve this with current implementation?

[2019-08-14 14:49] fdcds opened #802 "Output value using %+v in assert.Nil()"
Our code uses errors created using [github.com/pkg/errors](https://godoc.org/github.com/pkg/errors), which contains a stacktrace in addition to the regular error message. It is generally very useful to look at the stacktrace, when tracking down the cause of an error.

When I try to assert that no error occurred, I write a test like this:
[code]

This will output something like the following:
[code

[2019-08-15 00:44] twoi opened #803 "panic when comparing aliased strings"
The following test

[code]
gives me this error:

I would expect to get not a panic, but something similar to what I get when doing an analogous test with typed ints:

[2019-08-15 01:13] twoi commented on #803
Just when I wanted to push a PR for this, I found that this has already been fixed 11 months ago in master with this commit: https://github.com/stretchr/testify/commit/555ebd39594b3f68e1e3aaff0241f65dcf5c71f9

The version go mod vendor got for me was 1.2.2, where the problem shows

[2019-08-15 01:59] twoi commented on #803
I misread the git history - although the fix had been committed , in September 2018, https://github.com/stretchr/testify/commits/master/assert/assertions.go shows a second date as July 2019. In other words, it's not in testify 1.3.0.

Is there a date for the next release?

[2019-08-15 02:03] #803 closed

[2019-08-15 02:59] edpark11 commented on #558
FWIW I would also love a mock.Mock.ClearExpectedMethod... when executing unit tests where there is some setup and then many corner cases to be tested, the ability to clear anything with a particular methodname would be super helpful. Personally, I would be happy if this were a blunt call (i.e. anything with mock.ClearExpectedMethod("Foo").

[2019-08-18 23:59] charleswhchan commented on #473
@Mistobaan: yes. `suite.T().Skip()` will skip only the current test method? (workaround until the feature is implemented)

[2019-08-19 14:08] pgarneau opened #805 "assert.Eventually with low ticks cause panic: send on closed channel"
# Setup
If you put an:
`assert.Eventually(t, func() bool { return true }, time.Millisecond, 50 * time.Microsecond)` inside your test, you will get flaky results and more often then not, you will get a panic:
`panic: send on closed channel`

# Workaround
Increasing the tick to around `100 * time.Microsecond` removes the flakyness

# Solution
Add a waitgroup potentially so that [this channel close](

[2019-08-19 18:22] abourget commented on #746
This is also blocking me.. any direction? I'll happily PR if the direction is given.

[2019-08-20 06:43] AlekSi commented on #801
That one probably can be closed

[2019-08-20 06:44] falzm commented on #801
Yes, thanks @georgelesica-wf!

[2019-08-20 06:44] #801 closed

[2019-08-20 21:06] LawYard opened #806 "Compare structs with unsorted slices"
Hi!
Are here any assert func to compare two struct contains same slices with the same elements but in differs order?

For example:

[code]

I need some func that can compare that two structs ignoring slice elems order in it.

[2019-08-21 10:34] galecore commented on #806
It would also be amazing if we we could compare 2 json-strings this way - almost like `JsonEQ`, but using `ElementsMatch` when comparing slices.

[2019-08-23 11:59] GiampaoloFalqui commented on #740
Yes please!

[2019-08-24 14:28] bmuschko commented on #740
Looks like the PRs are piling up for this project. Before putting in the work, I'd like to ask one of the maintainers if there's a chance that it actually does get merged. Feedback welcome!

[2019-08-26 13:52] georgelesica-wf commented on #740
@bmuschko There is a huge backlog, unfortunately, left over from a period of time during which the project wasn't really being actively maintained. This makes it a little difficult to keep track of what's active and relevant and what's not. I have attempted to close old or abandoned PRs and issues but I only have so much time. At this point I would describe the project as "lightly maintained". It

[2019-08-28 04:53] NOMORECOFFEE commented on #802
`require.NoError` can help
https://github.com/stretchr/testify/blob/master/assert/assertions.go#L1198

[2019-08-29 15:01] KrzysztofMadejski commented on #598
The project I'm working on have quite a lot of tests for http handlers. I was thinking as well to create an abstraction layer to make tests definitions simpler. What do you think about below approach?

[code]

[2019-08-30 09:17] KrzysztofMadejski opened #809 "Method chaining to test http handlers [feature]"
I have a proposition that I believe would ease testing of the http handlers. It revolves around chaining commands and building a test case in that way. See below:

[code]

It would:
- offer more flexibility to create request (you can choose to set from values or not, set some headers or not)
- lead to less repeat of code (if you want to test multiple things, such as body, status code, set headers)

[2019-08-30 09:17] KrzysztofMadejski opened #810 "HttpSuccesss doesn't create Body -> error nil pointer dereference [Bug]"
`assert.HTTPSuccess()` is failing in my case when my code does `r *http.Request` `ioutil.ReadAll(r.Body)`.

I believe that https://github.com/stretchr/testify/blob/f35b8ab0b5a2cef36673838d662e249dd9c94686/assert/http_assertions.go#L13 should create body (even empty).

[2019-09-01 04:56] msonawane opened #811 "How to write benchmarks using testify / suite ?"

[2019-09-03 14:13] paulcostinean commented on #735
This can be closed as it no longer happens on `v1.4.0`.

[2019-09-03 19:54] sagikazarmark commented on #728
Unfortunately vektra/mockery does not seem to be maintained. I agree it would be somewhat better if this package provided a solution OOTB.

[2019-09-04 16:35] #636 closed

[2019-09-05 00:12] marshallmcmullen commented on #735
Confirmed this is working properly with `v1.4.0` and higher. This can be closed...

[2019-09-05 07:30] scode commented on #773
Just my two cents:

The [xerrors type](https://github.com/golang/xerrors/blob/a985d3407aa71f30cf86696ee0a2f409709f22e1/errors.go#L10) is definitely distinct from [the built-in type](https://github.com/golang/go/blob/aae0b5b0b26bf4fd26cad0111535d703691a9083/src/errors/errors.go#L63). I believe by necessity; I can't see them being the same unless the built-in type were willing to be an alias for the

[2019-09-05 17:58] genofire opened #813 "Asserts / catch os.Exit(1)"
It would be nice, that testify could handle `os.Exit(1)` like `panic("blub")`

[2019-09-05 18:18] jordanbangia opened #814 "Can't use `asserts` within `MatchedBy`"
I'm trying to make some helpers for testing and was hoping to use assert to check equality within my matched by function.

Here's a small example of something similar to what I'm doing:

[code]

Output:
[code]

If I drop the `m.AssertExpectations(t)` my tests will pass, but I would like to keep the assertion if possible.  Is there something I'm missing with how to get this working?

[2019-09-07 17:08] KrzysztofMadejski commented on #809
I'm working on it here: https://github.com/KrzysztofMadejski/testify-handlers

[2019-09-07 17:09] KrzysztofMadejski commented on #598
I'm working on my proposition here: https://github.com/KrzysztofMadejski/testify-handlers

[2019-09-08 17:06] bloudraak opened #815 "Test Fails with Unexpected Method Call"
I'm trying to understand why my test is failing with `Unexpected Method Call` when the mocked method takes an interface.

I have an interface looking as follows:

[code]

And generated a mock class using mockery

[code]

My test looks something like this:

[code]

And the code under test looks as follows:

[code]

When I run the test, I'm getting the following failure:

[code]

[2019-09-08 17:11] bloudraak commented on #815
It was related to human error and clipboard inheritance.

[code]

[2019-09-08 17:11] #815 closed

[2019-09-09 02:12] juliaogris commented on #597
`NotSame` would also be great.

[2019-09-10 08:04] pranav292gpt opened #816 "Can't Understand how to use BeforeTest and AfterTest(Suite)"
I've recently started working with Go. I need to write BeforeTest and After test functions that do something before a specified test(or after). I'm using Testing Suite provided by your library. My setup and teardown functions work as intended.  I'm unable to comprehend the documentation given on the BeforeTest and AfterTest functions in the docs. Would it be possible to include an example for thes

[2019-09-10 12:12] #816 closed

[2019-09-10 15:00] KrzysztofMadejski commented on #608
Why did you decided to panic on "Unexpected Method Call" rather than fail a test in `AssertExpectations` or earlier if one could inject `t`? In my opinion flagging errors would have a lot cleaner behaviour.

[2019-09-10 15:16] KrzysztofMadejski opened #817 "[feature] mock.MatchedByRegexp(regexp string)"
A method  that tests string argument if it matches regexp would be helpful.

Currently I'm using `MatchedBy(func)`:
[code]

But the error (panic btw) is hard to analyze easily:
[code]

It would be a lot nicer to have standard error:
[code]

[2019-09-11 08:56] KrzysztofMadejski opened #818 "[doc] Document that func (*Call) Return can accept functions"
Functions that computes mock return arguments based on input arguments.

Example: mocking a `io.Write` function:
[code]

[2019-09-11 09:34] KrzysztofMadejski commented on #152
I'd be happy to help as well.

[2019-09-12 15:26] keyneston opened #819 "Feature Request: TrimEquals, compare strings trimming leading whitespace"
I often will write code like:

[code]

I was writing it enough that I ended up writing a helper function:

[code]

It would be nice if a similar function existed natively in testify. Even nicer is if it handled not just stripping leading/trailing whitespace, but also would handle cases where your code ends up being formatted like:

[code]

Where you end up with leading whitespace on each line of t

[2019-09-19 15:03] ravishi opened #821 "Feature Request: file path in stack traces"
Currently, when a test fails, `testify` will gently print a stack trace of sorts.

That is very useful, one could say even essential, while debugging and or refactoring.

But it also has some limitations. Namely, it doesn't print the complete path to the file, only it's filename. That works very well when all your test code is contained in a single file. But what happens when you use helper functi

[2019-09-20 17:50] mbamber commented on #617
Is there an update on this? This would be a very useful feature to have

[2019-09-23 09:15] marcofranssen opened #822 ""go get -u" fails on stretchr/testify"
See below commandline output when I run `go get -u` to update my dependencies. Also included my `go env` and `go version` output.

[code]

[2019-09-26 08:38] w4-hanggi opened #823 "Need more friendly result UI"
Can we have some colorful UI for testing results?

[2019-09-29 00:14] SuddenGunter commented on #813
I guess it depends on your tests, but see this: https://stackoverflow.com/questions/26225513/how-to-test-os-exit-scenarios-in-go

[2019-10-01 08:52] gonzaloserrano commented on #372
Hi there,

Some links related to this issue, which I think depends on whether a server is in UTC or not:

https://github.com/golang/go/issues/19486
https://github.com/google/go-cmp/issues/139

[2019-10-02 00:50] shihanng opened #824 "Adding HTTPStatusCodeEqual to assert if status code equals to expected value"
Currently we have [`HTTPError`](https://godoc.org/github.com/stretchr/testify/assert#HTTPError) which check if the http response contains status code of 400 and above. I am wordering if we can add another function to check for specific status code like something below:

[code]

I can send a PR if you think this is something that can be included in the package. Thank you.

[2019-10-02 07:25] AlekSi commented on #562
That common gotcha is explained there: https://golang.org/doc/faq#nil_error Adding this link since people still ask about it.

[2019-10-04 13:11] PMcca opened #826 "Importing testify/assert (or anything) does not work with Go Modules"
I'm running Go 1.13 using modules but testify/assert is failing to import. I copy/pasted the example code into a test file and go fmt simply removes the package name. At times it will say v1.4.0 is not correct or something.
Other packages work fine, testify seems to be the only one I can't get to work.

[2019-10-07 13:50] KrzysztofMadejski commented on #809
And finished that here: https://gitlab.com/gotests/handlertest

[2019-10-07 13:50] KrzysztofMadejski commented on #824
@shihanng give this lib a try: https://gitlab.com/gotests/handlertest

[2019-10-07 13:51] KrzysztofMadejski commented on #598
@mattgen88 @falkerson @devdinu You could try my lib for testing http handlers: https://gitlab.com/gotests/handlertest

[2019-10-09 10:56] henrahmagix opened #828 "Using error in Contains fails with confusing message"
https://play.golang.org/p/u7Dfo4UnxZ0
[code]
[code]

Whereas this is what's needed to pass:
[code]

I would prefer if the failure message explained that it was an error type, otherwise it looks like a string does not contain another string: I've fallen foul to this in the past, and just spent 5-10mins again not realising that I needed to pass a `string` type as the 3rd argument.

It would be reall

[2019-10-09 17:14] Blquinn commented on #599
For anyone who is interested (@Tommy-42 ), you can make your own custom suite.Suite struct, which will default to using require.Assertions, instead of the assert.Assertions by doing the following.

[code]

Use this as you would the normal suite.Suite.

@devdinu Pretty sure this ticket can be closed based on @serbrech 's comment.

[2019-10-09 18:00] Blquinn opened #829 "Expose "require" suite"
I and many others expect / would prefer for the default behavior of the suite.Suite's .Equals() et al. methods to use the require behavior. See https://github.com/stretchr/testify/issues/599 for some context.

It would be nice if suite exposed a suite.RequireSuite, which could use the require.Assertions by default.

I left a comment in 599 outlining this struct. I believe that it should work just

[2019-10-14 03:33] JimTheMan opened #831 "Expect ... toEqual ... Syntax?"
Hi, is it possible with this library to add a syntax for this:
[code]

or is there any other go package that provides this?

Thanks!

[2019-10-14 19:15] rliddler commented on #831
[Gomega](https://onsi.github.io/gomega/#making-assertions) allows you to make assertions in that sort of manner. It's a bit more rspec like in it's behaviour.

[2019-10-25 09:43] ahoulgrave opened #832 "SetupTest does not run on subtests"
Here you can see test failing
https://play.golang.org/p/R3m0s_PxwGG

If we call `SetupTest()` manually inside the subtest works correctly: https://play.golang.org/p/XpsmRqH2F4t

Is this intended behaviour?

[2019-10-26 00:17] zut commented on #805
Same for me. To reproduce:

[code]

[code]

[code]

[code]

[2019-10-28 12:37] lootek commented on #387
Same here

[2019-10-29 14:34] torkelrogstad commented on #497
With the new error wrapping functionality in Go 1.13 it would be nice to have `assert.Wraps(*testing.T, error, error)`, or something similar. Is this something you have considered?

[2019-10-30 02:47] leighmcculloch opened #833 "Feature Request: Support regex in JSONEq"
In many situations when comparing JSON we're unable to know the exact contents of the JSON, however we can test the structure and the format. As an example we may have an API that returns a particular JSON that contains a number that is random or changing and not something that is easily mocked.

There's probably a few different approaches that could be taken that I can think of:

- Could we make

[2019-11-04 12:20] PureWhiteWu opened #834 "closed"
closed

[2019-11-04 13:36] #834 closed

[2019-11-04 14:28] #784 closed

[2019-11-05 08:27] amir-arad opened #835 "race condition in Eventually"
I've used a tightly timed 'Eventually' in my test:
```assert.Eventually(t, func() bool { ... }, time.Millisecond*100, time.Millisecond)```
ran it with `-race -count=1000`  and i got:
[code]

[2019-11-05 21:13] zut commented on #835
Same here! Not able to reproduce reliably. `go version go1.13 darwin/amd64`, using `github.com/stretchr/testify v1.4.0`.

[code]

Looks like [this is the issue](https://github.com/golang/go/issues/27769).

[2019-11-06 22:43] #805 closed

[2019-11-06 22:43] #835 closed

[2019-11-07 18:17] leighmcculloch commented on #749
Agreed, it's very difficult to find compatible use cases for the `PanicWithValue` function because most of the time reconstructing the exact error object is too difficult in the test, especially now that wrapped/nested error objects are common place. Most of the time testing the error objects string is sufficient.

I think an additional function like `assert.PanicWithAssertionFunc` so we can then

[2019-11-07 18:30] georgelesica-wf commented on #749
Yeah, that sounds reasonable, although it would be difficult to generate a truly useful error message when the failure is the result of an arbitrary callback.

[2019-11-07 22:19] quynhdang-vt opened #836 "Go 1.13 and github.com/stretchr/testify/suite issue"
Hello,
My test suite was running fine with 1.11 -- then we decided to go up to 1.13.  Now running the tests keep failing with this

[code]

According to this link: https://github.com/microsoft/vscode-go/issues/2734 there may be some conflict in testing.Init and the test suite?

I'm trying to figure out what would be the solution -- but just wondering if this is a known issue here.

Thanks in advan

[2019-11-07 23:32] kellul opened #837 "assert.Eventually() does not fail test when the timer expires"
assert.Eventually() returns false (and not Fail(...)) when the timer expires.

As a result, the test does not fail.

So for example, including  `assert.Eventually(t, func()bool{return false}, time.Second, time.Millisecond))` in your test does not cause it to fail.  It will poll the function for a second, and then pass.

Is this intentional?  It seems surprising, since the other assert functions ca

[2019-11-08 15:11] georgelesica-wf commented on #837
If I'm not mistaken, it's the `require` version of the functions that fail, the assertions just return a boolean and print an error. For example, see: https://github.com/stretchr/testify/blob/master/require/require.go#L17

[2019-11-09 10:55] dmacvicar commented on #837
As I was seeing the same, I did some experimentation:

[code]

With v1.4.0:

[code]

With v1.4.1-0.20191106224347-f1bd0923b832

[code]

That can be traced to https://github.com/stretchr/testify/commit/f1bd0923b8320ddfb0a8a9d919b5aeb8b7a4cc40 which replaced a

[code]

with

[code]

[2019-11-10 05:34] leighmcculloch commented on #749
@georgelesica-wf I agree, it'd be difficult to make a useful error message. I opened #839 that instead adds `PanicsWithError` that does an error comparison in the same way that `EqualError` does. I think this addresses most of the lacking I've experienced and retains useful error messages.

[2019-11-10 06:29] leighmcculloch opened #841 "go generate ./... broken on Go 1.12+"
The repository uses `go generate ./...` to generate the required and assertion formatter files, but when following the instructions in the `README.md` and following the example in `.travisci.gogenerate.sh` to generate the files with either Go 1.12.13 or 1.13.4, the following errors occur:

[code]

It looks like this code in the generator that looks up where the code lives is finding the code path

[2019-11-11 16:02] cosmonawt opened #842 "Add support for errors.Is"
Right now there is no clean way to assert the type of an underlying (wrapped) error.
Two methods do work, namely:
[code]
and
[code]
However, both have their flaws:
- The first way only supports unwrapping one "level" deep. If the underlying error is wrapped multiple (potentially unknown many) times, this becomes unfeasible.
- The second way does not give any additional information on the types tha

[2019-11-11 16:22] #842 closed

[2019-11-12 17:56] hiimoliverwang opened #843 "Ignore fields using struct tags"
Hello,

Is there a way to ignore certain fields when asserting equal or as the argument of .On?

e.g.
[code]

We don't really care about the UpdateAt time, and this would also apply to random UUID's etc.
Otherwise we would have to assert each sub field in order for the test to pass.

[2019-11-12 23:58] kellul commented on #837
I don't think that's accurate.  The other `assert` functions all return `Fail(...)` when the condition is not met, which causes a test failure before returning `false`.  This one simply returns `false` with no call to `Fail(...)`.

For example, in `assert.Equal`: https://github.com/stretchr/testify/blob/master/assert/assertions.go#L339

I'm currently working around this by calling `assert.True(t,

[2019-11-14 00:56] xordspar0 commented on #772
Maybe there should be documentation or a guide on using testify with goroutines in general.

[2019-11-26 10:59] peterwillcn opened #847 "Broken on Go 1.13"
[code]

[2019-11-27 23:43] mohanraj-r commented on #811
You should be able to use the `*testing.B` directly with testify.

[code]

Testify uses [TestingT](https://www.godoc.org/github.com/stretchr/testify/assert#TestingT) interface which is satisfied by both `testing.B` and `testing.T`

[2019-11-29 14:38] brevno commented on #350
This snippet is slightly hacky, but works in existing testify API:
[code]

[2019-12-04 07:50] boyan-soubachov commented on #847
Happy to have a look at this one.

[2019-12-04 07:53] boyan-soubachov commented on #843
Not that I am aware of, would it make sense in your use case to explicitly assert the fields (if the include list is small) or conversely shallow-copy the struct and remove the ones you don't want to compare (if the exclude list is small)?

[2019-12-04 07:55] boyan-soubachov commented on #841
As we spoke about in #848, happy to work on a solution for this to make it a bit less manual.

An initial thought I had is to add a git commit hook for any code modifying the 'base' files to automatically (and correctly) run `go generate`. That way, commits should automatically have up-to-date versions of the generated files.

[2019-12-04 08:35] leighmcculloch commented on #841
I saw your message on the PR but I haven't had a chance to retry the process as you described.

I think part of the issue is the generate process being dependent on a GOPATH and with Go Modules disabled. Testify is widely used, but still only runs its CI tests on Go 1.11 as the latest release which is pretty old and no longer supported. Rather than adding a githook I think it probably needs:

1. T

[2019-12-04 09:29] boyan-soubachov commented on #841
As far as I am aware, the travis file is set to use go modules (on and off) as well as the latest golang:

(from `.travis.yml`)
[code]

The CI run does do a `go generate./...` as part of it (`.travis.gogenerate.sh`). The reason that succeeds is because the repo is cloned outside of the `$GOPATH` in the travis run if I'm not mistaken.

I do completely agree that this is an issue though; it's very r

[2019-12-04 15:50] glesica commented on #841
Agreed, if someone can come up with something that works reliably I'd be excited to get it merged and released!

[2019-12-04 16:37] AaronNBrock opened #849 "How to FailNow during SetupSuite?"
I'm writing a testing suite that spins up some resource on `SetupSuite` (in my case a virtual machine), runs some tests against it, then destroys the resource on `TearDownSuite`.

Now, sometimes the resource may fail to spin up or have some issue with it which makes running the tests useless, in which case I'd like to `suite.T().FailNow()`.  However, if you run `suite.T().FailNow()` during `SetupS

[2019-12-04 16:47] glesica commented on #849
Would it make sense to let the setup finish and then have a test that runs immediately afterward and asserts that the environment is configured correctly? That being said, it seems reasonable that the teardown should at least run optionally if setup fails.

[2019-12-04 17:02] AaronNBrock commented on #849
@glesica the issue with doing it in the first test is I need the ability to pick and choose which tests I run (Some may take a long time).  I could maybe add this check during the `SetupTest`.  But, that's not an amazing solution because it leads to the tests being run over and over again, which is probably fine in _my_ case, but I could imagine that being a problem.

[2019-12-04 19:22] boyan-soubachov commented on #841
@leighmcculloch , more specifically, to get `go generate ./...` working:
[code]

[2019-12-04 19:37] boyan-soubachov commented on #847
All tests pass for me:
[code]

have you made sure to pull the latest `master` (we had a merge recently)? What command did you run and in which folder?

[2019-12-04 20:01] glesica commented on #841
Can we throw that in the README or something? If no one else gets to it I'll try to remember to add it.

[2019-12-04 20:03] boyan-soubachov commented on #841
I just put out a PR (#851), that would make the README.md instructions work correctly.

[2019-12-04 22:05] zach-skysafe commented on #235
Using v1.4.0, I can replicate the error this way.

[code]

The assert.True passes, assert.EqualValues passes, but the assert.Equal calls fails. If you change the enum definition to

[code]

Equal doesn't have a problem.

[2019-12-07 06:30] leighmcculloch commented on #841
@boyan-soubachov I've tried to run your instructions with Go 1.13 but I'm hitting the same error. What version of Go are you running those commands on?

I don't think this is an issue with just my environment either. I'm able to replicate the error using the default Go Dockerfile's as well with Go 1.11 and Go 1.13:

<details><summary>go generate using Go 1.11</summary>

[code]
</details>

<details

[2019-12-07 06:49] boyan-soubachov commented on #841
@leighmcculloch , good point. I missed that in the `.go.generate.sh` script. I'll look into fixing that and make sure it runs on the latest go version.

As for the usual `go generate ./...` errors, the cause is explained in more detail in (#851 ). Please let me know if that's not the case for you.

[2019-12-07 06:56] leighmcculloch commented on #841
I think I have a fix actually that makes this works for modules, will open a PR if I can wrangle this.

[2019-12-07 08:54] leighmcculloch commented on #841
Fix is open in #852. It was pretty gnarly!

[2019-12-08 10:01] procself opened #854 "testify/mock build is broken"
It seems that that the latest commit https://github.com/stretchr/testify/commit/7009337cb5726e58a8444528a492b85d111bc1a5 has broken the build of testift/mock.
I see this error:
	imports github.com/stretchr/testify/mock
	imports github.com/stretchr/objx: cannot find package "github.com/stretchr/objx" in any of:
	/usr/local/go/src/github.com/stretchr/objx (from $GOROOT)
	/go/src/github.com/stretchr/

[2019-12-08 17:17] glesica commented on #854
Looking into it.

[2019-12-09 07:00] boyan-soubachov commented on #854
Will also take a look

[2019-12-09 07:03] boyan-soubachov commented on #854
@procself , what is your `GO111MODULE` environment variable's value?

Could you tell us the exact steps you took to reproduce this error?

[2019-12-09 07:04] boyan-soubachov commented on #740
Happy to take this one on.

[2019-12-09 07:42] procself commented on #854
@boyan-soubachov
GO111MODULE is not set.
I'm building inside docker golang:1.12.1-stretch. First installing testify with
go get -u github.com/stretchr/testify/assert
and finally running 'go test ...'

[2019-12-09 17:12] #841 closed

[2019-12-09 17:14] glesica commented on #740
That would be awesome, @boyan-soubachov, thanks!

[2019-12-10 15:32] #749 closed

[2019-12-12 19:41] #740 closed

[2019-12-12 21:10] #715 closed

[2019-12-13 22:25] grosser commented on #735
@SkinyMonkey close please

[2019-12-15 02:46] allenhaozi commented on #535
found a bad case
`type Item struct {
	Media string
	Size  int64
}

func main() {

	standard := []Item{
		Item{
			Media: "SSD",
			Size:  100,
		},

		Item{
			Media: "HDD",
			Size:  200,
		},
	}

	test1 := []Item{
		Item{
			Media: "HDD",
			Size:  200,
		},
		Item{
			Media: "SSD",
			Size:  100,
		},
	}

	fmt.Println(cmp.Equal(standard, test1))

}`

want : true , got: fase

[2019-12-15 05:07] posener commented on #535
I guess that is ok.
We can pass default options that will imitate the behavior of `assert.Equal`.

See https://github.com/stretchr/testify/pull/579/files

[2019-12-15 11:42] vincentbernat commented on #758
Until #535  is implemented, this would be a nice workaround to have.

[2019-12-15 15:59] cbandy commented on #535
@allenhaozi I think you are trying or want to assert with `ElementsMatch`.

[2019-12-16 16:40] lffloyd commented on #854
Hello,

I'm having the same problem with testify.

`imports github.com/stretchr/testify/mock
	imports github.com/stretchr/objx: cannot find package "github.com/stretchr/objx" in any of:
	/usr/local/go/src/github.com/stretchr/objx (from $GOROOT)
	/home/username/go/src/github.com/stretchr/objx (from $GOPATH)`

No solution yet?

[2019-12-16 18:01] beono commented on #762
Agree. This confuses a bit, 'till you understand that the whole file is copied from assert package.

[2019-12-17 00:37] frioux commented on #641
Perl's `Test::More` also uses `expected-actual` (aka `got-want`)

[2019-12-17 05:41] boyan-soubachov commented on #854
Hi, I haven't had a chance to look into this but will do so later today.

[2019-12-17 18:29] boyan-soubachov commented on #854
@procself : I'm afraid I can't reproduce this. I did the following commands:

[code]
Please let me know if I've missed or left out something. If not, can you think of an alternate way I can reproduce this?